{var $robots => "noindex, noarchive"}
{#content}

<article>
	<div class="center">
		<h2 class="main-headline">Skoro hotovo, &hellip;</h2>
		<p>Děkujeme za váš zájem o newsletter Khanovy školy.</p>
		<p>Pro dokončení přihlášení prosím klikněte na odkaz, který jsme vám poslali emailem.</p>
		<img src="{$cdnUrl}/images/hand-tree.svg" width="240px">
	</div>
	<div class="clear"></div>
</article>
