<style n:syntax="off">
	a {color: #A44; text-decoration: none; line-height: 130%;}
	a:visited {color: gray;}
</style>

{foreach $errors as $error}
	{$error->ctime|timeAgo}
	<a n:href="show, file => $error->file">
		{$error->title} {$error->text}
	</a>
	{sep}<br>{/sep}
{/foreach}
