<div>
	<h2 class="main-headline">Vaši studenti</h2>
	<a n:href="addStudents">&plus; Přidat další studenty</a>
	<ol>
		<li n:foreach="$user->entity->getStudents() as $student">
			<a n:href=":Front:Profile: pid => $student->id">{$student->name}</a>
		</li>
	</ol>
</div>
