{var $title = 'Učit'}
{#breadcrumbs}
	<span class="breadcrumbs_nav video-nav">
		<a n:href=":Front:Coach:, gid => NULL">Učit</a>
	</span>
{/#}
{#content}

<article>
	{if $user->entity->hasStudents()}
		{include '_dashboard.latte'}
	{else}
		{include '_no_students.latte'}
	{/if}
</article>
