Články jsou formátované v Markdown.
<a href="http://daringfireball.net/projects/markdown/syntax">detailní dokumentace</a>
<code><pre>
*italic*
**bold**
[Popisek odkazu](http://odkaz)

Nadpis
======
</pre></code>

