<p>
	Články jsou formátované v Markdown.<br>
	<a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Detailní dokumentace</a>, rychlý náhled:
</p>
<code><pre style="background-color: #f2f2f2; padding: 1ex">
*italic*
**bold**
[Popisek odkazu](http://odkaz)

Nadpis
======
</pre></code>

