{var $title = "Přidat článek - Blog"}
{#content}

{include ../_navigation.latte}
<article id="backend-form">
	<div class="blog-form">
		<h2 class="main-headline">Nový článek</h2>
		{control articleForm}
	</div>
	<div class="blog-help">
		{include _manual.latte}
	</div>
	<div class="clear" />
</article>
