{var $title = "Úprava článku - Blog"}
{#content}

{include ../_navigation.latte}

<article>
	<div style="float: left; width: 50%">
		<h2 class="main-headline">Úprava článku</h2>
		{control articleForm}
	</div>
	<div style="float: right; width: 28%; margin-top: 4ex;">
		{include _manual.latte}
	</div>
	<div class="clear" />
</article>
