{var $title = $selected->label}
{var $description = $selected->getDescription()}
{#scripts}
	{if $show_video_order}
		<script>
			onLoadQueue.push(function() {
				var prompt_shown = false;

				$(".videos-table ol").sortable({
					items: 'li',
					change: function() {
						var $that = $(this);
						$('.videos-header a').show();
						if (!prompt_shown) {
							prompt_shown = true;
							$('.videos-header').append($('<a href="#"/>').text(' [Uložit]').click(function() {
								var data = [];

								$.each($('.videos-table ol').sortable('toArray'), function(p, id) {
									$node = $("#" + id);
									data.push(($node.data('type') === 'video' ? 'v' : 'e') + ":" + $node.data('id'));
								});
								$.ajax({plink updatePositions!}, {
									data: { positions: data.join(',')}
								});
								$('.videos-header a').hide();
							}));
						}
					}
				}).disableSelection();
			});
		</script>
	{/if}
{/#}
{#content}

<article class="categories" itemscope="" itemtype="http://schema.org/{ifset $leaf}VideoGallery{else}CollectionPage{/ifset}">
	{define #list}
		<ul>
			<li n:foreach="$parent->getSubCategories() as $category"
				n:class="$category->isEqualTo($selected) || $category->containsCategory($selected) ? selected">
				<a n:href=":Front:Browse:, id => $category->id">
					{$category->label}
				</a>
			</li>
		</ul>&nbsp;
	{/define}
	{cache $selected->id, tags => ["category/$selected->id"]}
		<div class="tree-container">
			<div class="tree-left-container">
				<div class="tree-left">
					{if $selected->isSubject()}
						<ul>
							<li class="selected">
								<a n:href=":Front:Browse:, id => $selected->id">{$selected->label}</a>
							</li>
						</ul>
					{else}
						{var $parent => $selected->getParent()}
						{block #cats}
							{if !$parent->isSubject()}
								{include #cats, parent => $parent->getParent()}
							{else}
								<ul>
									<li class="selected">
										<a n:href=":Front:Browse:, id => $parent->id">{$parent->label}</a>
									</li>
								</ul>
							{/if}
							{if !$selected->isLeaf() || ($selected->isLeaf() && !$parent->isEqualTo($selected->getParent()))}
								{include #list, parent => $parent}
							{/if}
						{/block}
					{/if}
				</div>
			</div>
			<div class="tree-right">
				{if $selected->isLeaf()}
					{include #list, parent => $selected->getParent()}
				{else}
					{include #list, parent => $selected}
				{/if}
			</div>
		</div>
		<div class="entities">
			{if $selected->isLeaf()}
				<ol n:inner-foreach="$selected->getContent() as $entity">
					{if $entity instanceof \Entity\Video}
						<li id="video-{$entity->id}" data-type="video" data-id="{$entity->id}">
							<a n:href=":Front:Watch:, id => $selected->id, vid => $entity->id" itemprop="significantLink">
								{*if $show_video_order}<span class="sortable-arrow">↕</span>{/if*}
								<span n:class="'video-progress', 'v-'.$entity->id, $entity->isDubbed() ? 'icon-dubbed'"></span>
								{$entity->label}
							</a>
						</li>
					{else}
						<li id="exercise-{$entity->id}" data-type="exercise" data-id="{$entity->id}">
							<a n:href=":Front:Exercise:, id => $selected->id, eid => $entity->id" itemprop="significantLink">
								{*if $show_video_order}<span class="sortable-arrow">↕</span>{/if*}
								<i class="icon-exercise"></i>
								{$entity->label}
							</a>
						</li>
					{/if}
				</ol>
			{/if}
		</div>
	{/cache}
</article>
