{var $title = "Úprava: $category->label"}
{#content}

<article id="backend-form">
	<div>
		<h2 class="main-headline">Editování kategorie</h2>
		{control editForm}
	</div>
	<p class="col1 fifty-fifty">Při změně názvu se změní i webová adresa kategorie. Původní adresa zůstane zachovaná a bude přesměrovávat na adresu novou.</p>
	<hr class="thin">
</article>
