{var $title = "Úprava: $category->label"}
{#content}

<article id="backend-form">
	<div>
		<h2 class="main-headline" style="white-space: pre;">Editování kategorie</h2>
		{control editForm}
	</div>
	<p class="col1 fifty-fifty">Při změně názvu se změní i webová adresa kategorie. Původní adresa zůstane zachovaná a bude přesměrovávat na adresu novou.</p>
	<div class="clear" style="margin-bottom:36px;"></div>
	<hr class="margin-bottom: 18px;">
</article>
