{var $title = "Úprava: $category->label"}
{#content}

<article>
	<div>
		<h2 class="main-headline" style="white-space: pre;">Editování kategorie</h2>
		{control editForm}
	</div>
	<div class="clear" style="margin-bottom:36px;"></div>
	<hr class="margin-bottom: 18px;">
</article>
