{var $title = "Přidat studenty"}
{var $description = "Své studenty si můžete na Khanově škole přidat pomocí dvou postupů; Student klikne na váš referenční odkaz nebo vás přidá v profilu manuálně."}
{#breadcrumbs}
	<span class="breadcrumbs_nav coach-nav">
		<a n:href="Dashboard:">Učit</a>
		<span class="breadcrumb-separator">»</span>
		<a n:href="this">přidat studenty</a>
	</span>
{/#}
{#content}

<article>
	{include '_add_students.latte'}
</article>
