{var $title = "Přidat studenty"}
{#breadcrumbs}
	<span class="breadcrumbs_nav video-nav">
		<a n:href="Dashboard:">Učit</a>
		<span class="breadcrumb-separator">»</span>
		<a n:href="this">přidat studenty</a>
	</span>
{/#}
{#content}

<article>
	{include '_add_students.latte'}
</article>
