#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	parameters:
		progress:
			completed_threshold: 95 # video position in percents that mark video as watched
			exercise_limit: 30 # how many correct answer in row would give 100 % score
			exercise_mastery: 90 # how many percent must user achieve to mark exercise as mastered

		github:
			url: https://api.github.com
			id:
			secret:
			token:

		facebook:
			appId:
			secret:

		google:
			id:
			secret:
			scope: ['https://www.googleapis.com/auth/userinfo.profile', 'https://www.googleapis.com/auth/userinfo.email']

		amara:
			key:

		adminer_editor:
			role: moderator

		database:
			host:
			dbname:
			user:
			password:

	php:
		date.timezone: Europe/Prague
		# zlib.output_compression: yes


	nette:
		application:
			errorPresenter: Error

		session:
			expiration: 14 days

		database:
			default:
				dsn: "mysql:host=%database.host%;dbname=%database.dbname%"
				user: %database.user%
				password: %database.password%

		debugger:
			email:

	services:
		database: @Nette\Database\Connection

		facebook: Facebook([appId: %facebook.appId%, secret: %facebook.secret%])
		google: Google([id: %google.id%, secret: %google.secret%])

		amara: Amara(%amara.key%, %amara.username%)

		user: NetteUser
		authenticator_facebook: FacebookAuth
		authenticator_google: GoogleAuth
		authenticator_password: PasswordAuth

		articles: Articles('article')
		categories: Categories('category')
		videos: Videos('video')
		users: Users('user')
		exercises: Exercises('exercise')
		tags: Tags('tag')
		progress: Table('progress')
		groups: Table('group')
		tasks: Tasks('task')

	factories:


production < common:
	parameters:
		database:
			user:
			password:

development < common:


selenium < common:
	services:
		application: \Selenium\Application
