#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	parameters:
		progress:
			completed_threshold: 95 # video position in percents that mark video as watched
			exercise_limit: 30 # how many correct answer in row would give 100 % score
			exercise_mastery: 90 # how many percent must user achieve to mark exercise as mastered

		github:
			url: https://api.github.com
			id:
			secret:
			token:

		facebook:
			appId:
			secret:

	php:
		date.timezone: Europe/Prague
		# zlib.output_compression: yes


	nette:
		application:
			errorPresenter: Error

		session:
			expiration: 14 days

		database:
			default:
				dsn: 'mysql:host=localhost;dbname='
				user:
				password:

		debugger:
			email:

	services:
		user: NetteUser

		database: @Nette\Database\Connection
		authenticator: Authenticator(@users)

		categories: Categories('category')
		videos: Videos('video')
		users: Users('user')
		exercises: Exercises('exercise')
		tags: Tags('tag')
		progress: Table('progress')
		groups: Table('group')
		tasks: Tasks('task')

	factories:

production < common:
	nette:
		database:
			default:
				user:
				password:

	#diagnostics:
	#	loggerUrl: 'http://api.qray.eu/api/log.json'
	#	accessLoggerUrl: 'http://api.qray.eu/api/access.json'
	#	appId:
	#	appSecret:
	#	password:

development < common:
