
parameters:
	progress:
		completed_threshold: 95 # video position in percents that mark video as watched
		exercise_limit: 15 # how many correct answer in row would give 100 % score
		exercise_mastery: 90 # how many percent must user achieve to mark exercise as mastered
		exercise_struggle: 30 # -//- for struggle

	github:
		url: https://api.github.com

	kontrolovac:
		url: http://kontrolovac.cz/api

	google:
		scope: ['https://www.googleapis.com/auth/userinfo.profile', 'https://www.googleapis.com/auth/userinfo.email']

	adminer_editor:
		role: adminer


php:
	date.timezone: Europe/Prague
	# zlib.output_compression: yes


nette:
	application:
		errorPresenter: Error

	session:
		expiration: 14 days

	debugger:
		email: rullaf@gmail.com

services:
	facebook: Facebook([appId: %facebook.appId%, secret: %facebook.secret%])

	google: Model\Google([id: %google.id%, secret: %google.secret%])

	mailChimp: Model\MailChimp(%mailChimp.key%)
	amara: Model\Amara
	discourse: Model\Discourse(%discourse.sso_secret%, %discourse.redirect%)
	wiki: Model\Wiki(%wiki.sso_secret%)
	subtitles: Model\Subtitles
	report: Model\Report(%database_subs.dbname%, %database.user%, %database.password%)
	subsChecker: Model\SubtitleChecker(%kontrolovac.url%)

	user: Model\NetteUser
	authenticator_facebook: Authenticator\Facebook
	authenticator_google: Authenticator\Google
	authenticator_password: Authenticator\Password

	adverts: Selector\Adverts('advert')
	articles: Selector\Articles('article')
	authors: Selector\Authors('author')
	categories: Selector\Categories('category')
	videos: Selector\Videos('video')
	users: Selector\Users('user')
	exercises: Selector\Exercises('exercise')
	translations: Selector\Translations('exercise_translation')
	tags: Selector\Tags('tag')
	progress: ORM\Table('progress')
	groups: ORM\Table('group')
	tasks: Selector\Tasks('task')
	volunteers: Selector\Volunteers('volunteer')
	documents: Selector\Documents('document')
	autocomplete: Selector\Autocomplete('_autocomplete')

factories:
