#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	parameters:
		github:
			url: https://api.github.com
			id: 599040d80ae76c23968a
			secret: 6bb0114616800bc8e23a8ecae4e4a885ad265749
			token: 131b7c8fefaadd1276037f58e784241f14cf0e0c

	php:
		date.timezone: Europe/Prague
		# zlib.output_compression: yes


	nette:
		application:
			errorPresenter: Error

		session:
			expiration: 14 days

		database:
			default:
				dsn: 'mysql:host=localhost;dbname=khanacademy'
				user: root
				password:

		debugger:
			email: rullaf@gmail.com

	services:
		user: NetteUser

		database: @Nette\Database\Connection
		authenticator: Authenticator(@users)

		categories: Categories('category')
		videos: Videos('video')
		users: Users('user')
		exercises: Exercises('exercise')

	factories:

production < common:
	nette:
		database:
			default:
				user: khan_u
				password: "Sk4$U8!kBUd5" # yes it's public! Whatevs

	diagnostics:
		loggerUrl: 'http://api.qray.eu/api/log.json'
		accessLoggerUrl: 'http://api.qray.eu/api/access.json'
		appId: 501ed6087bbbb402000003a1
		appSecret: 60LiPqLZSPE8OCWboF6CrCoqPJrcYPz0
		password: 'khan' # set only if you need enable access to your bluescreen files

development < common:
