<script n:if="$user->loggedIn">
	var player = null;
	var ticker = null;

	// Load iframe api
	var tag = document.createElement('script');
	tag.src = "//www.youtube.com/iframe_api";
	var firstScriptTag = document.getElementsByTagName('script')[0];
	firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);



	/*
	 ***************************
	 * For iframe view (ie ipad)
	 ***************************
	 */
	function onYouTubeIframeAPIReady() {
		player = new YT.Player('player', {
			height: '480',
			width: '800',
			videoId: {$video->youtube_id},
			events: {
				//'onReady': onPlayerReady,
				'onStateChange': onPlayerStateChange
			}
		});
	}

	var done = false;
	function onPlayerStateChange(event) {
		saveState(event.data);
	}



	/*
	 ***************************
	 * Object view for unisubs
	 ***************************
	 */
	function onYouTubePlayerReady() {
		player = $("[id$='_ytplayer']")[0];
		player.addEventListener("onStateChange", "saveState");

		// translate widget
		$('.unisubs-tabTextchoose').text('Čeština');
	}



	/*
	 ***************************
	 * Save for both
	 ***************************
	 */
	function saveState(code) {
		if (code == 1) {
			ticker = setInterval(function() {
				updateProgress(player.getCurrentTime());
			}, 5000);
		} else {
			clearInterval(ticker);
		}

		if (code == 0) { // save only if video ended
			updateProgress(-1);
		}
	}

	function updateProgress(progress) {
		$.ajax({plink updateProgress!}, {
			data: { seconds: progress},
			success: function(response) {
				console.log('response');
				if (response.status !== 'success') {
					console.error("Error while saving progress: ", response);
				}
			}
		});
	}
</script>
