{var $title = $video->label}
{if $desc = $video->getDescription($category)}
	{var $description = $desc}
{/if}
{#breadcrumbs}
	<span class="breadcrumbs-tags">
		<span n:if="$video->hasTags()">
			<a n:foreach="$video->getTags()->where('display', TRUE) as $tag" n:href=":Front:Tag:, tid => $tag->id">{$tag->label}{sep}, {/sep}</a>
		</span>
	</span>
	<span class="breadcrumbs_nav video-nav">
		{#breadpath}
			{if !$category->isSubject()}
				{include #breadpath, category => $category->getParent()}
				<span class="breadcrumb-separator">»</span>
			{/if}
			<a n:if="!$category->isSubject()" n:href=":Front:Browse:, id => $category->id">{$category->label}</a>
			<span n:if="$category->isSubject()">{$category->label}</span>
		{/#}
	</span>
{/#}
{#scripts}
	<script>
		var video_id = {$video->id};
		var youtube_video_id = {$video->youtube_id};
		var youtube_autoplay = {$autoplay ? '1' : '0'};
		{if $user->loggedIn}var youtube_progress_url = {plink updateProgress!, autoplay => NULL};{/if}
	</script>
	<script n:if="!$user->loggedIn" type="text/javascript" src="{$cdnUrl}/js/youtube_guest.js"></script>
	<script n:if="$user->loggedIn" type="text/javascript" src="{$cdnUrl}/js/youtube_user.js"></script>
	<script n:if="$subtitles" type="text/javascript" src="{$cdnUrl}/js/subtitles.js"></script>
{/#}
{#content}
<article id="video-page">
	<div n:class="video, $video->isDubbed() ? video-dubbed">
		<div itemscope="" itemtype="http://schema.org/VideoObject">
			<div>
				<div id="description" class="video-description">
					{var $exercise => $video->getExercise()}
					<a n:if="$exercise" n:href=":Front:Exercise:, eid => $exercise->id" class="practice simple-button green desktop-only" title="Ověřte si pochopení tématu na cvičeních" target="_blank">
						Procvičit toto téma</a>
					<a n:if="!$exercise && $video->external_exercise_url" href="{$video->external_exercise_url}" class="practice simple-button blue desktop-only" target="_blank">
						Externí cvičení</a></a>
					<h1 class="title-header">
						<span itemprop="name caption" class="title desktop-only">{$video->label}</span><span n:if="$video->description" class="long-description">: <span itemprop="description">{$video->description}</span>{if $video->hasAuthor()} Dabing {!$video->getAuthor()->getNbName()}.{/if}</span>
						<a n:if="!$video->isDubbed()" n:href="editSubtitles" class="subtitles-edit" rel="nofollow">upravit titulky</a>
					</h1>
					<div>
						{if $user->isInrole(\NetteUser::ROLE_ADMIN) && count($video->getSlugs()) > 1 || count($video->getAdSlugs())}
							<b>Aliasy:</b>
							{foreach $video->getSlugs() as $slug}<a n:href="this, vid => $slug">{plink this, vid => $slug}</a>{sep}, {/sep}{/foreach}, 
							{foreach $video->getAdSlugs() as $slug}<a n:href="alias, vid => $slug, id => NULL">{plink alias, vid => $slug, id => NULL}</a>{sep}, {/sep}{/foreach}
						{/if}
					</div>
					<a n:if="$user->isInrole(\NetteUser::ROLE_EDITOR)" n:href="edit" class="call-to-action simple-button blue">Upravit</a>
				</div>
				<div class="video-header">
					<nav class="prev_next_nav desktop-only">
						{var $prev => $video->getPreviousVideo($category)}
						<label id="prev_video">
							<a n:if="$prev" rel="prev" class="previous-video" n:href="this, vid => $prev->id">
								<b>Předchozí video:</b> {$prev->label}
							</a>
							<a n:if="!$prev" class="previous-video"></a>
						</label>
						{var $next => $video->getNextVideo($category)}
						<label id="next_video" n:if="$next">
							<a rel="next" class="next-video" n:href="this, vid => $next->id"><b>Další video:</b> {$next->label}</a>
						</label>
						<div class="clear"></div>
					</nav>
				</div>
			</div>
			<div class="video-container">
				<div id="player"></div>
			</div>
			{if $subtitles}
				{control subtitles, $subtitles}
			{/if}
		</div>
		<p class="center">
			<a n:href=":Front:Browse:, id => $category->id" class="call-to-action blue simple-button">Další videa z {$category->label}</a>
		</p>
	</div>
</article>
