html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{background:transparent;border:0;font-size:100%;margin:0;outline:0;padding:0;vertical-align:baseline}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
a{background:transparent;font-size:100%;margin:0;padding:0;vertical-align:baseline}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{border:0;border-top:1px solid #ccc;display:block;height:1px;margin:1em 0;padding:0}
input,select{vertical-align:middle}
@font-face{font-family:'fontello';src:url("../../fonts/fontello.eot?19876910");src:url("../../fonts/fontello.eot?19876910#iefix") format('embedded-opentype'),url("../../fonts/fontello.woff?19876910") format('woff'),url("../../fonts/fontello.ttf?19876910") format('truetype'),url("../../fonts/fontello.svg?19876910#fontello") format('svg');font-weight:normal;font-style:normal}
[class^="icon-"]:before,[class*=" icon-"]:before{font-family:'fontello';font-style:normal;font-weight:normal;speak:none;display:inline-block;text-decoration:inherit;width:1em;margin-right:.2em;text-align:center;font-variant:normal;text-transform:none;line-height:1em;margin-left:.2em;}
.icon-check:before{content:'\2611'}
.icon-exercise:before{content:'\270e'}
.icon-github:before{content:'\e0b6'}
.icon-chat:before{content:'\e720'}
.icon-arrow-down:before{content:'\e75c'}
.icon-arrow-left:before{content:'\e75d'}
.icon-arrow-right:before{content:'\e75e'}
.icon-progress:before{content:'\e793'}
.icon-spinner:before{content:'\e831'}
.icon-leaf:before{content:'🍂'}
.icon-dubbed:before{content:'🔊'}
.animate-spin{-moz-animation:spin 2s infinite linear;-o-animation:spin 2s infinite linear;-webkit-animation:spin 2s infinite linear;animation:spin 2s infinite linear;display:inline-block}
@-moz-keyframes spin{0%{-moz-transform:rotate(0);-o-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}
100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg)}
}@-webkit-keyframes spin{0%{-moz-transform:rotate(0);-o-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}
100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg)}
}@-o-keyframes spin{0%{-moz-transform:rotate(0);-o-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}
100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg)}
}@-ms-keyframes spin{0%{-moz-transform:rotate(0);-o-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}
100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg)}
}@-moz-keyframes spin{0%{-moz-transform:rotate(0);-o-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}
100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg)}
}@-webkit-keyframes spin{0%{-moz-transform:rotate(0);-o-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}
100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg)}
}@-o-keyframes spin{0%{-moz-transform:rotate(0);-o-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}
100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg)}
}@-ms-keyframes spin{0%{-moz-transform:rotate(0);-o-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}
100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg)}
}@keyframes spin{0%{-moz-transform:rotate(0);-o-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}
100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg)}
}a[href^=error]{color:#f00 !important}
body{font-family:"Museo Sans 300",Arial,"Helvetica Neue",Helvetica,sans-serif;font-weight:300;font-style:normal}
a{text-decoration:none;}
a:visited,a:link,a:visited{color:inherit}
.float-left{float:left}
.float-right{float:right}
.clear{clear:both}
.container{width:1200px;height:100%;margin:auto}
header{display:block;height:45px;width:100%;background-color:#2c3747;}
header .logo{position:absolute;padding-top:3px;margin-left:-108px;left:50%;}
header .logo #spinner{display:inline-block;position:relative;top:-9px;left:10px;height:24px;width:24px;color:#fff;}
header .logo #spinner.hidden{display:none}
header .logo #spinner .icon-spinner{margin-left:-4.800000000000001px;font-size:24px;-webkit-transform-origin:12px 12px;-moz-transform-origin:12px 12px;-ms-transform-origin:12px 12px;-o-transform-origin:12px 12px;transform-origin:12px 12px}
header ul{display:inline-block;height:100%}
header li{color:#fff;display:inline-block;height:100%;padding:15px .5em 0 .5em;}
header li:hover,header li.hover{background-color:#fff;color:#2c3747}
header li a{display:block;height:100%}
header ul.dropdown{display:none;position:absolute;top:45px;width:176px;height:auto;margin-left:-1px;border:1px solid #2c3747;border-top:0;font-size:14px;background-color:#fff;}
header ul.dropdown.open{display:block}
header ul.dropdown li{display:block;height:14px;color:#2c3747;}
header ul.dropdown li.has-divider{border-top:1px solid #707b8b}
header ul.dropdown li:hover{color:#fff;background-color:#707b8b}
header ul.dropdown li.hover{color:#fff;background-color:#2c3747;}
header ul.dropdown li.hover ul{display:block}
header ul.dropdown li a{margin:-16px -7px 0 -7px;padding:10px 7px 0 7px;display:block;width:100%;height:29px}
header ul.dropdown li ul{display:none;position:absolute;top:-1px;left:176px;width:450px;border:1px solid #2c3747;background-color:#fff;-webkit-column-count:2;-webkit-column-gap:10px;-webkit-column-fill:balance;-webkit-column-width:220px;-moz-column-count:2;-moz-column-gap:10px;-moz-column-fill:balance;-moz-column-width:220px;column-count:2;column-gap:10px;column-fill:balance;column-width:220px;}
header ul.dropdown li ul li{margin:4px 1em}
footer{display:block;background-color:#f7f7f7;border-top:1px solid #ddd;color:#2c3747;}
footer .col1,footer .col2,footer .col3{display:inline-block;margin:0;padding:0;vertical-align:top}
footer .col1{width:49%;margin-top:20px;}
footer .col1 > ul{display:inline-block;width:24%;height:100%;vertical-align:top;}
footer .col1 > ul li{list-style-type:none;margin:1ex 0}
footer .col2{width:40%;margin-top:34px;text-align:right}
footer .col3{width:10%;text-align:right}
footer .logo{margin:20px 0 40px 0}
footer .legal{color:#999;text-align:right;font-size:12px;margin-top:2ex}
footer a{color:#005987;}
footer a:visited,footer a:link,footer a:visited{color:#005987}
footer a:hover{color:#678d00;text-decoration:underline}
