html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{background:transparent;border:0;font-size:100%;margin:0;outline:0;padding:0;vertical-align:baseline}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
a{background:transparent;font-size:100%;margin:0;padding:0;vertical-align:baseline}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{border:0;border-top:1px solid #ccc;display:block;height:1px;margin:1em 0;padding:0}
input,select{vertical-align:middle}
@font-face{font-family:'fontello';src:url("../../fonts/fontello.eot?49900910");src:url("../../fonts/fontello.eot?49900910#iefix") format('embedded-opentype'),url("../../fonts/fontello.woff?49900910") format('woff'),url("../../fonts/fontello.ttf?49900910") format('truetype'),url("../../fonts/fontello.svg?49900910#fontello") format('svg');font-weight:normal;font-style:normal}
[class^="icon-"]:before,[class*=" icon-"]:before{font-family:'fontello';font-style:normal;font-weight:normal;speak:none;display:inline-block;text-decoration:inherit;width:1em;margin-right:.2em;text-align:center;font-variant:normal;text-transform:none;line-height:1em;margin-left:.2em;}
.icon-video:before{content:'\25b6'}
.icon-check:before{content:'\2611'}
.icon-exercise:before{content:'\270e'}
.icon-arrow-down:before{content:'\e75c'}
.icon-arrow-left:before{content:'\e75d'}
.icon-arrow-right:before{content:'\e75e'}
.icon-progress:before{content:'\e793'}
.icon-spinner:before{content:'\e831'}
.icon-leaf:before{content:'🍂'}
.icon-dubbed:before{content:'🔊'}
.icon-search:before{content:'🔍'}
.icon-notification:before{content:'🔔'}
.animate-spin{-moz-animation:spin 2s infinite linear;-o-animation:spin 2s infinite linear;-webkit-animation:spin 2s infinite linear;animation:spin 2s infinite linear;display:inline-block}
@-moz-keyframes spin{0%{-moz-transform:rotate(0);-o-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}
100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg)}
}@-webkit-keyframes spin{0%{-moz-transform:rotate(0);-o-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}
100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg)}
}@-o-keyframes spin{0%{-moz-transform:rotate(0);-o-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}
100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg)}
}@-ms-keyframes spin{0%{-moz-transform:rotate(0);-o-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}
100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg)}
}@-moz-keyframes spin{0%{-moz-transform:rotate(0);-o-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}
100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg)}
}@-webkit-keyframes spin{0%{-moz-transform:rotate(0);-o-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}
100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg)}
}@-o-keyframes spin{0%{-moz-transform:rotate(0);-o-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}
100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg)}
}@-ms-keyframes spin{0%{-moz-transform:rotate(0);-o-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}
100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg)}
}@keyframes spin{0%{-moz-transform:rotate(0);-o-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}
100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg)}
}.button,input[type=submit]{border:1px solid #76a005;border-bottom:1px solid #526f03;-webkit-border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-background-clip:padding-box;-moz-background-clip:padding;-webkit-background-clip:padding-box;-moz-background-clip:padding-box;border-background-clip:padding-box;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.3);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.3);box-shadow:inset 0 1px 0 rgba(255,255,255,0.3);background-color:#7fac05;background-image:-moz-linear-gradient(top,#8aba08,#6e9700);background-image:-ms-linear-gradient(top,#8aba08,#6e9700);background-image:-webkit-gradient(linear,0 0,0 100%,from(#8aba08),to(#6e9700));background-image:-webkit-linear-gradient(top,#8aba08,#6e9700);background-image:-o-linear-gradient(top,#8aba08,#6e9700);background-image:linear-gradient(top,#8aba08,#6e9700);background-repeat:repeat-x;color:#fff;cursor:pointer;font-family:inherit;line-height:22px;margin:0;padding:5px 10px;position:relative;text-decoration:none;text-shadow:0 -1px 0 #526f03;font-size:11pt;}
.button:hover,input[type=submit]:hover{border-color:#aaa;-webkit-box-shadow:inset 0 1px 0;-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.4),inset 0 0 50px 5px rgba(255,255,255,0.2);box-shadow:inset 0 1px 0 rgba(255,255,255,0.4),inset 0 0 50px 5px rgba(255,255,255,0.2)}
.button:active,input[type=submit]:active{-webkit-box-shadow:inset 0 0 30px rgba(0,0,0,0.3),inset 0 2px 4px rgba(0,0,0,0.4);-moz-box-shadow:inset 0 0 30px rgba(0,0,0,0.3),inset 0 2px 4px rgba(0,0,0,0.4);box-shadow:inset 0 0 30px rgba(0,0,0,0.3),inset 0 2px 4px rgba(0,0,0,0.4)}
.button.gray,input[type=submit].gray{border-color:#ccc;border-bottom-color:#bbb;background-color:#f8f8f8;background-image:-moz-linear-gradient(top,#fff,#eee);background-image:-ms-linear-gradient(top,#fff,#eee);background-image:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#eee));background-image:-webkit-linear-gradient(top,#fff,#eee);background-image:-o-linear-gradient(top,#fff,#eee);background-image:linear-gradient(top,#fff,#eee);color:#595959;text-shadow:0 -1px 0 #fff}
.button.blue,input[type=submit].blue{border-color:#2c3747;border-bottom-color:#000;background-color:#364253;background-image:-moz-linear-gradient(top,#3a4759,#303b4a);background-image:-ms-linear-gradient(top,#3a4759,#303b4a);background-image:-webkit-gradient(linear,0 0,0 100%,from(#3a4759),to(#303b4a));background-image:-webkit-linear-gradient(top,#3a4759,#303b4a);background-image:-o-linear-gradient(top,#3a4759,#303b4a);background-image:linear-gradient(top,#3a4759,#303b4a);color:#fff;text-shadow:0 -1px 0 #050608}
header{display:block;height:45px;width:100%;background-color:#2c3747;margin-bottom:3ex;}
header a:not(.button){color:#fff;}
header a:not(.button):visited,header a:not(.button):link,header a:not(.button):visited{text-decoration:none;color:inherit}
header .logo{position:absolute;padding-top:3px;margin-left:-108px;left:50%;}
header .logo #spinner{display:inline-block;position:relative;top:-9px;left:10px;height:24px;width:24px;color:#fff;}
header .logo #spinner.hidden{display:none}
header .logo #spinner .icon-spinner{margin-left:-4.800000000000001px;font-size:24px;-webkit-transform-origin:12px 12px;-moz-transform-origin:12px 12px;-ms-transform-origin:12px 12px;-o-transform-origin:12px 12px;transform-origin:12px 12px}
header ul{display:inline-block;height:45px}
header li{color:#fff;display:inline-block;height:45px;}
header li:hover,header li.hover{background-color:#fff;color:#2c3747}
header li a{display:block;padding:15px .5em 0 .5em;height:30px}
header ul.dropdown{display:none;position:absolute;z-index:100;top:45px;width:176px;height:auto;margin-left:-1px;border:1px solid #2c3747;border-top:0;font-size:14px;background-color:#fff;}
header ul.dropdown.open{display:block}
header ul.dropdown li{display:block;color:#2c3747;height:auto;}
header ul.dropdown li.has-divider{border-top:1px solid #707b8b}
header ul.dropdown li:hover{color:#fff;background-color:#707b8b}
header ul.dropdown li.hover{color:#fff;background-color:#2c3747;}
header ul.dropdown li.hover ul{display:block}
header ul.dropdown li a{display:block;width:100%;height:auto;padding:1.4ex 0 1ex 1em;}
header ul.dropdown li a.has-submenu:after{position:relative;left:-20px;font-family:'fontello';content:"\e75e";float:right}
header ul.dropdown li ul{display:none;position:absolute;top:-1px;left:176px;width:450px;height:100%;border:1px solid #2c3747;background-color:#fff;-webkit-column-count:2;-webkit-column-gap:10px;-webkit-column-fill:balance;-webkit-column-width:220px;-moz-column-count:2;-moz-column-gap:10px;-moz-column-fill:balance;-moz-column-width:220px;column-count:2;column-gap:10px;column-fill:balance;column-width:220px;}
header ul.dropdown li ul li{margin:4px 1em}
nav.subnav{border-bottom:1px solid #707b8b;margin-top:-3ex;margin-bottom:3ex;}
nav.subnav li{display:inline-block;line-height:35px;}
nav.subnav li a{padding:1ex .5em;}
nav.subnav li a:link,nav.subnav li a:visited,nav.subnav li a:active{color:#2c3747}
nav.subnav li a:hover,nav.subnav li a.selected{text-decoration:none;border-bottom:2px solid #707b8b}
nav.subnav li a:hover{background-color:#f7f7f7}
footer{display:block;margin-top:10ex;background-color:#f7f7f7;border-top:1px solid #ddd;color:#2c3747;}
footer .col1,footer .col2,footer .col3{display:inline-block;margin:0;padding:0;vertical-align:top}
footer .col1{width:49%;margin-top:20px;}
footer .col1 > ul{display:inline-block;width:24%;height:100%;vertical-align:top;}
footer .col1 > ul li{list-style-type:none;margin:1ex 0}
footer .col2{width:40%;margin-top:34px;text-align:right}
footer .col3{width:10%;text-align:right}
footer .logo{margin:20px 0 40px 0}
footer .legal{color:#999;text-align:right;font-size:12px;margin-top:2ex}
body{font-family:"Museo Sans 300",Arial,"Helvetica Neue",Helvetica,sans-serif;font-weight:300;font-style:normal;text-rendering:optimizeLegibility}
a:not(.button){text-decoration:none;color:#005987;}
a:not(.button):visited,a:not(.button):link,a:not(.button):visited{color:#005987}
a:not(.button):hover{color:#678d00;text-decoration:underline}
.float-left{float:left}
.float-right{float:right}
.clear{clear:both}
.icon-dubbed{color:#4871c9}
.error{color:#f00;margin-bottom:1ex}
ul.error{list-style:none}
p{line-height:2.7ex;}
p a:not(.button){color:#005987;text-decoration:none;}
p a:not(.button):visited,p a:not(.button):link,p a:not(.button):visited{color:#005987}
p a:not(.button):hover{color:#678d00;text-decoration:underline}
h1{font-size:16pt;margin-bottom:1ex}
h2{font-size:15pt}
h3{font-size:14pt}
h4{font-size:12pt}
input[type=text],input[type=email],input[type=password]{background-color:#fafafa;border:1px solid #c6d1ad;font-size:10pt;padding:0 0 0 .5em;margin-bottom:.5ex;height:24px;width:160px;-webkit-outline-style:none;-moz-outline-style:none;outline:0;-webkit-box-shadow:0 0 0 0 #678d00;-moz-box-shadow:0 0 0 0 #678d00;box-shadow:0 0 0 0 #678d00;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
cite{color:#707b8b}
.main-search{text-align:center;background-color:#f7f7f7;border:1px solid #ddd;margin:0 0 3ex 0;}
.main-search label,.main-search h1,.main-search form{display:inline-block}
.main-search h1{font-size:22pt;margin:0 1em 0 0}
.main-search label{height:100%;vertical-align:middle}
.main-search .icon-search{position:absolute;margin:12px 0 0 2px;color:#999}
.main-search .search-input{display:inline;font-size:12pt;padding:1ex .5em 1ex 1.5em;width:600px;border:0;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;border:1px solid #ddd;}
.main-search .search-input:focus{-webkit-outline-style:none;-moz-outline-style:none;outline:0;-webkit-box-shadow:0 0 5px 1px #678d00;-moz-box-shadow:0 0 5px 1px #678d00;box-shadow:0 0 5px 1px #678d00}
.main-search input[type=submit]{display:inline}
.main-search form div{display:none}
.category-blocks{width:600px;}
.category-blocks h4{padding:2ex 0 1ex 0;}
.category-blocks h4:first-of-type{padding-top:0}
.category-blocks a{color:#005987;}
.category-blocks a:hover{color:#678d00;text-decoration:underline}
.category-blocks .block{display:inline-block;padding:5pt 4pt;width:170px;font-size:14px;background-color:#f7f7f7;margin:none;border:1px solid #ddd;margin:-1px 0 0 -1px;}
.category-blocks .block:hover{background-color:#d3ddb6}
.category-blocks .block i[class^=icon]{font-size:12px}
.main-text p{width:90%}
.call-to-action{margin:2ex 0}
.sponsors{margin:1ex 0}
.credentials{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-background-clip:padding-box;-moz-background-clip:padding-box;border-background-clip:padding-box;background-color:#eee;border:1px solid #ccc;border-bottom:1px solid #aaa;-webkit-box-shadow:0 1px 3px #ccc;-moz-box-shadow:0 1px 3px #ccc;box-shadow:0 1px 3px #ccc;width:59%;margin:auto;padding:1em;}
.credentials>div{display:inline-block;vertical-align:top}
.credentials h3{margin-bottom:2ex}
.providers{text-align:center;width:270px;}
.providers.inline{width:100%;}
.providers.inline .provider:first-of-type{margin-right:1em}
.provider{display:inline-block;position:relative;border:1px solid #ccc;width:200px;height:78px;border-bottom-color:#aaa;border-right-color:#bbb;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:2px 2px 5px #ccc;-moz-box-shadow:2px 2px 5px #ccc;box-shadow:2px 2px 5px #ccc;cursor:pointer;text-align:center;margin-bottom:1ex;}
.provider:hover{border-color:#aaa;left:2px;top:2px;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
.provider img{margin-top:5px}
.vertical-separator{display:inline-block;position:relative;width:1px;height:250px;margin:0 2em;border-left:1px solid #ccc;text-align:center;vertical-align:baseline;}
.vertical-separator span{position:relative;top:50%;margin-top:-.5em;margin-left:-1.5em;background-color:#eee;padding:1ex 0}
.horizontal-separator{height:1px;margin:2em auto;width:100%;border-top:1px solid #ccc;text-align:center;position:relative;display:inline-block;}
.horizontal-separator span{position:relative;display:inline-block;padding:0 .5em;top:-.7em;background-color:#eee}
.password{text-align:left;}
.password label{display:inline-block;text-align:right;width:3em}
.password p{text-align:left;padding:1ex 0 0 52px}
.registration label:not(.checkbox){display:inline-block;text-align:right;width:3em}
.registration .col1{text-align:right;padding-top:10px;}
.registration .col1 img{padding-right:1em}
.registration .col2 form{margin-left:2em;}
.registration .col2 form .checkbox-container{margin:2ex 0}
.aliases{font-size:10pt}
.buttons{margin:2ex 0}
nav i.icon-arrow-left{margin-right:-.5em}
nav i.icon-arrow-right{margin-left:-.5em}
nav label:first-of-type{float:left}
nav label:last-of-type{float:right}
#subtitles{height:180px;width:800px;overflow:scroll;padding:0;}
#subtitles table{width:100%}
#subtitles div{padding:0 0 4px 5px;font-size:12pt;}
#subtitles div:first-child{margin-top:60px}
#subtitles div:last-child{margin-bottom:140px}
#subtitles .highlight{background-color:rgba(157,182,59,0.3)}
#subtitles .time{color:#969696;font-family:sans-serif;font-size:80%}
#subtitles .row{height:23px}
#subtitles td.narrow{width:50px}
#subtitles-overlay{position:absolute;width:450px;font-size:14pt;color:#fff;padding:0 200px;text-align:center;text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;pointer-events:none;line-height:20pt}
.center{margin:auto;width:800px}
.categories .tree{display:inline-block;}
.categories .tree ul{display:inline-block;width:auto;vertical-align:top;list-style:none;border-left:1px solid #707b8b;line-height:130%;}
.categories .tree ul li{margin:0 1em 0 .5em}
.categories .tree ul li.selected{background-color:#707b8b;margin:0;padding:0 1em 0 .5em;}
.categories .tree ul li.selected a{color:#fff}
.categories .tree ul ul{text-align:left}
.entities{display:inline-block;vertical-align:top;height:100%;width:229px;margin-right:20px;border-left:1px solid #707b8b;border-right:1px solid #707b8b;}
.entities ol{list-style:none;}
.entities ol.path{font-size:11pt;}
.entities ol.path li{background-color:#f7f7f7;border-bottom:1px solid #ddd;}
.entities ol.path li:hover{background-color:#fff}
.entities ol.path li .path-route{display:block;position:absolute;margin-left:14px;width:7px;height:70px;background-color:#ddd;z-index:1}
.entities ol.path li:first-of-type .path-route{margin-top:20px}
.entities ol.path li:last-of-type .path-route{height:20px}
.entities ol.path li a{display:block;padding:1ex 1em .5ex 34px;}
.entities ol.path li a:hover{text-decoration:none}
.entities ol.path li i{display:inline-block;position:relative;z-index:2;font-size:14pt;width:28px;height:23px;padding-top:5px;-webkit-border-radius:14px;-moz-border-radius:14px;border-radius:14px;margin-left:-30px;background-color:#ddd;color:#2c3747}
.entities .parents a{color:#fff;display:block;padding:1ex 1em}
.entities .parents li:nth-of-type(1){background-color:#2c3747}
.entities .parents li:nth-of-type(2){background-color:#5f6a7a}
.entities .parents li:nth-of-type(3){background-color:#929dad}
.entities .parents li:nth-of-type(4){background-color:#c5d0e0}
.entity{display:inline-block;width:800px}
#inject-exercise,#problem-and-answer{display:inline-block;}
#inject-exercise #problemarea,#problem-and-answer #problemarea{display:inline-block;width:730px}
#inject-exercise #answer_area_wrap,#problem-and-answer #answer_area_wrap{display:inline-block;width:200px}
.volunteer .enum{font-size:10pt}
.volunteer ul li{margin:2ex 0 1ex 2em}
.volunteer h2{margin:3ex 0 1ex 0}
.volunteer .buttons{margin:2ex 0 3ex 0}
.blog h2{margin-bottom:0;float:left}
.blog-detail .holder{margin:auto;margin-top:32px}
.blog-detail h2{margin:0;padding:0;float:left}
.blog-detail p{padding-top:1.5ex;}
.blog-detail p:last-of-type{font-style:italic}
.blog-detail img{display:block;width:640px;margin:2ex 0}
.blog div p,.blog-detail div p{margin-top:0;text-align:justify}
.blog-time{float:right}
.blog-edit{margin-left:1em}
.blog-form{float:left;width:50%}
.blog-help{float:right;width:28%;margin-top:4ex;}
.blog-help .code{background-color:#f2f2f2;padding:1ex}
.blog-strip{width:640px;margin:auto;margin-bottom:2em}
.articles,.blog-detail{width:640px;margin:auto}
.team h2{margin:2ex 0}
.team .team-card{display:inline-block;vertical-align:top;margin-right:1em;}
.team .team-card .card-photo{vertical-align:top;display:inline-block;}
.team .team-card .card-photo img{height:267px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.team .team-card .card-info{display:inline-block;width:300px;margin-bottom:4ex;font-size:11pt}
a[href^=error]{color:#f00 !important}
.container{width:1200px;margin:auto}
.fifty-fifty{display:inline-block;vertical-align:top;}
.fifty-fifty.col1,.fifty-fifty.col2{width:49%}
.sixty-forty{display:inline-block;vertical-align:top;}
.sixty-forty.col1{width:59%}
.sixty-forty.col2{width:39%}
.forty-sixty{display:inline-block;vertical-align:top;}
.forty-sixty.col1{width:39%}
.forty-sixty.col2{width:59%}
.thirty-seventy{display:inline-block;vertical-align:top;}
.thirty-seventy.col1{width:29%}
.thirty-seventy.col2{width:69%}
