{var $title = "Překlad cvičení"}
{#content}

<article id="backend-form">
	<h2 class="main-headline">Překlad cvičení</h2>
	{form translateForm}
		<table n:inner-foreach="$translate['tid'] as $i => $tid">
			<tr>
				<td rowspan="2">{$tid}&nbsp;&mdash;&nbsp;</td>
				<td>{$translate['text'][$i]}</td>
			</tr>
			<tr>
				<td>{input translations-$tid-$tid, style => "width: 100%; height: 8ex;"}</td>
			</tr>
		</table>
		{input send}
	{/form}
</article>
