@charset "UTF-8";

@font-face {
  font-family: 'fontello';
  src: url("../../fonts/fontello.eot?49900910");
  src: url("../../fonts/fontello.eot?49900910#iefix") format('embedded-opentype'), url("../../fonts/fontello.woff?49900910") format('woff'), url("../../fonts/fontello.ttf?49900910") format('truetype'), url("../../fonts/fontello.svg?49900910#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../../fonts/fontello.svg?49900910#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
/* opacity .8 */
/* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
/* fix buttons height, for twitter bootstrap */
  line-height: 1em;
/* Animation center compensation - magrins should be symmetric */
/* remove if not needed */
  margin-left: 0.2em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-video:before { content: '\25b6'; } /* '▶' */
.icon-check:before { content: '\2611'; } /* '☑' */
.icon-exercise:before { content: '\270e'; } /* '✎' */
.icon-arrow-down:before { content: '\e75c'; } /* '' */
.icon-arrow-left:before { content: '\e75d'; } /* '' */
.icon-arrow-right:before { content: '\e75e'; } /* '' */
.icon-progress:before { content: '\e793'; } /* '' */
.icon-spinner:before { content: '\e831'; } /* '' */
.icon-leaf:before { content: '🍂'; } /* '\1f342' */
.icon-dubbed:before { content: '🔊'; } /* '\1f50a' */
.icon-search:before { content: '🔍'; } /* '\1f50d' */
.icon-notification:before { content: '🔔'; } /* '\1f514' */
