<nav class="subnav">
	<ul>
		<li><a n:href="About:default" class="{ifCurrent About:default}selected{/ifCurrent}">O nás</a></li>
		<li><a n:href="Blog:default, aid => NULL" class="{ifCurrent Blog:*}selected{/ifCurrent}">Blog</a></li>
		<li><a n:href="About:projects" class="{ifCurrent About:projects}selected{/ifCurrent}">Projekty</a></li>
		<li><a n:href="Contact:default" class="{ifCurrent Contact:default}selected{/ifCurrent}">Tým</a></li>
		<li><a n:href="About:sponsors" class="{ifCurrent About:sponsors}selected{/ifCurrent}">Sponzoři</a></li>
	</ul>
</nav>
