<nav id="page_sub_nav">
	<span class="breadcrumbs_nav">
		<a n:href="About:default" class="{ifCurrent About:default}selected{/ifCurrent}">O nás</a>
		<a n:href="Blog:default" class="{ifCurrent Blog:default}selected{/ifCurrent}">Blog</a>
		<a n:href="About:projects" class="{ifCurrent About:projects}selected{/ifCurrent}">Projekty</a>
		<a n:href="Contact:default" class="{ifCurrent Contact:default}selected{/ifCurrent}">Tým</a>
		<a n:href="About:sponsors" class="{ifCurrent About:sponsors}selected{/ifCurrent}">Sponzoři</a>
	</span>
</nav>
