{layout '@error.latte'}

{var $title = $code}
{var $header = "Přístup zamítnut"}
{var $description = "Nemáte povolení pro vstup na tuto část aplikace."}
{var $error = "$code access denied"}

{#content}
	{include #error-page}
