{layout '@error.latte'}

{var $title = $code}
{var $header = "Stránka nenalezena"}
{var $description = "Na této stránce nemáme žádný obsah. Je možné, že původní cíl byl přesunut na jinou adresu, nebo jste následovali špatný odkaz."}
{var $error = "$code not found"}

{#content}
	{include #error-page}
