{layout '@error.latte'}

{var $title = $code}
{var $header = "Metoda není povolena"}
{var $description = "Metoda kterou jste vyžádali není na tento zdoj možná použít."}
{var $error = "$code method not allowed"}

{#content}
	{include #error-page}
