{layout '@error.latte'}

{var $title = $code}
{var $header = "Stránka odstraněna"}
{var $description = "Obsah který se na této stránce nacházel byl odstraněn. Omlouváme se za způsobené nepříjemnosti."}
{var $error = "$code gone"}

{#content}
	{include #error-page}
