{layout '@error.latte'}

{var $title = $code}
{var $header = "Uuuups, chyba"}
{var $description = "Omlouváme se, na stránce se vyskytla chyba."}
{var $error = "$code"}

{#content}
	{include #error-page}
