{layout '@error.latte'}

{var $title = $code}
{var $header = "Chyba serveru"}
{var $description = "Aplikace se někde porouchala. Obrželi jsme informační mail a začneme s opravou. Omlouváme se za nepříjemnosti."}
{var $error = "$code server error"}

{#content}
	{include #error-page}
