<div id="player"></div>
<script>
	var player = null;
	var ticker = null;

	// Load iframe api
	var tag = document.createElement('script');
	tag.src = "//www.youtube.com/iframe_api";
	var firstScriptTag = document.getElementsByTagName('script')[0];
	firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

	/*
	 ***************************
	 * For iframe view (ie ipad)
	 ***************************
	 */
	function onYouTubeIframeAPIReady() {
		player = new YT.Player('player', {
			height: '480',
			width: '640',
			playerVars: {
				'autoplay': {$autoplay ? '1' : '0'},
				'controls': 0
			},
			videoId: {$video->youtube_id},
			events: {
				//'onReady': onPlayerReady,
				'onStateChange': onPlayerStateChange
			}
		});
	}

	var done = false;
	function onPlayerStateChange(event) {
		saveState(event.data);
	}

	/*
	 ***************************
	 * Save progress
	 ***************************
	 */
	function saveState(code) {
		{if $user->loggedIn}
			if (code == 1) {
				ticker = setInterval(function() {
					updateProgress(player.getCurrentTime());
				}, 5000);
			} else {
				clearInterval(ticker);
			}

			if (code == 0) { // save only if video ended
				updateProgress(-1);
			}
		{/if}
	}

	function updateProgress(progress) {
		$.ajax({plink updateProgress!}, {
			data: { seconds: progress},
			success: function(response) {
				console.log('response');
				if (response.status !== 'success') {
					console.error("Error while saving progress: ", response);
				}
			}
		});
	}
</script>

