{#content}

<article>
	<h2 class="main-headline">Přeložená cvičení, která nejsou v databázi</h2>
	{*
	<a n:if="$user->isInrole(\NetteUser::ROLE_ADMIN)" n:href="populateDb!">zveřejnit všechny</a>
	*}

	<table>
		<tr n:foreach="$detached as $file => $label">
			<td>{$label}</td>
			<td><a n:href=":Moderator:Translate:, file => $file">{$file}</a></td>
			<td><a n:href="populateDb!, file => $file">zveřejnit</a></td>
		</tr>
	</table>
</article>
