{var $title = "Úprava cvičení"}
{#head}
	<link rel="stylesheet" media="screen,projection,tv" href="{$cdnUrl}/css/chosen.css" type="text/css">
{/#}
{#scripts}
	<script type="text/javascript" src="{$cdnUrl}/js/chosen.jquery.min.js"></script>
	<script>
		$("#frm-editForm-categories").chosen();
		$("#frm-editForm-related").chosen();
	</script>
{/#}
{#content}
<article id="backend-form">
<div>
	<h2 class="main-headline">Úprava cvičení</h2>
	{control editForm}
</div>

</article>
