{var $title = "Přidat učitele"}
{#content}

<article id="backend-form">
	<h2 class="main-headline">Přidat učitele</h2>
	<p class="col1 fifty-fifty">Zde si můžete přidat svého učitele. Jestli nevíte s jakou emailovou adresou se zaregistroval, budete se ho muset zeptat.</p>
	<div class="clear"></div>
	<div>
		{control addTeacherForm}
	</div>
</article>
