{var $title = "Potvrdit učitele"}
{#content}

<article>
	<h2 class="main-headline">Potrvdit učitele</h2>
	<p>Chcete být žák učitele {$coach->name}?</p>
	<p>
		<a n:href="confirmCoach!, $coach->id" class="call-to-action simple-button green watch-a-video">Ano, potvrdit učitele</a>
		<a class="push-right" n:href="default">Ne, tohoto učitele nechci přijmout</a>
	</p>
</article>
