{#content}

<article id="about-us">
<div>
<h2 class="main-headline" style="white-space: pre;">Pravidla použití</h2>
    <p>Omlouváme se, tato sekce není úplná, doplníme.</p>
	<p></p>
</div>
<div class="clear" style="margin-bottom:36px;"></div>
<hr class="margin-bottom: 18px;">

</article>
