<!DOCTYPE html>
<html lang="cs">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<meta name="description" content="{$description}" n:ifset="$description">
	<meta name="robots" content="{$robots}" n:ifset="$robots">
	<meta name="viewport" content="height=device-height,width=device-width,initial-scale=1.0,maximum-scale=1.0" >
	<meta name="apple-mobile-web-app-capable" content="yes">

	<title>{ifset $title}{$title} &ndash; {/ifset}Khanova škola</title>

	<link rel="stylesheet" href="{$basePath}/css/themes/default/jquery.mobile-1.1.1.css">
	<link rel="stylesheet" href="{$basePath}/css/tablet.css?v=rand()">
	<link n:if="$user->loggedIn" rel="stylesheet" media="screen,projection,tv" n:href=":Api:DynamicCss:, v => rand()" type="text/css">

	<link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="{$basePath}/apple-touch-icon.png">
	<link rel="apple-touch-icon-precomposed" href="{$basePath}/apple-touch-icon-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes=”72x72″ href="{$basePath}/apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes=”114x114″ href="{$basePath}/apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes=”144x144″ href="{$basePath}/apple-touch-icon-144x144-precomposed.png">

	{* Facebook open graph *}
	<meta property="og:site_name" content="Khanova škola">
	<meta property="og:image" content="{$baseUrl}/images/apple-touch-icon@2x.png">
	<meta property="og:type" content="website">
	<meta property="og:locale" content="cs">

	<script type="text/javascript" src="{$basePath}/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="{$basePath}/js/jquery-ui-1.8.21.custom.min.js"></script>
	<script type="text/javascript" src="{$basePath}/js/jquery.mobile-1.1.1.min.js"></script>
	<script type="text/javascript" src="{$basePath}/js/netteForms.js"></script>
	<script type="text/javascript" src="{$basePath}/js/khan.js"></script>
	<script type="text/javascript" src="{$basePath}/js/retina.js"></script>
	{#head}{/#}

	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-33892654-1']);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</head>
<body n:class="isset($video) && $video ? video">
	<script> document.body.className+=' js' </script>
	<div data-role="page">
		<div data-role="header">
			<a data-rel="back" href="#">{ifset $backlink}Zpět na {$backlink}{else}Zpět{/ifset}</a>
			<h1>{ifset $title}{$title}{else}Khanova škola{/ifset}</h1>
			{if $user->loggedIn}
				<a n:href=":Sign:out" data-ajax="false">{$user->entity->name}</a>
			{else}
				<a n:href=":Sign:inTablet" data-rel="dialog">Přihlášení</a>
			{/if}
		</div>
		<div data-role="content">
			<div class="ui-grid-t">
				<div class="ui-block-a">
					{include #navigation}
				</div>
				<div class="ui-block-b">
					{include #content}
				</div>
			</div>
		</div>
	</div>
</body>
</html>
