{var $title = 'Úprava ' . $group->label}
{#breadcrumbs}
	<span class="breadcrumbs_nav video-nav">
		<a n:href="Dashboard:">Učit</a>
		<span class="breadcrumb-separator">»</span>
		<a n:href="default">{$group->label}</a>
		<span class="breadcrumb-separator">»</span>
		<a n:href="this">úprava</a>
	</span>
{/#}
{#content}

<article id="backend-form">
	<h2 class="main-headline">{$group->label}</h2>

	<p>{control usersForm}</p>

	<p>
		<a n:href="default">zpět</a>
	</p>
</article>
