{var $title = "Nastavení"}
{#content}

<article>
	<h2 class="main-headline">Nastavení</h2>
	<div>
		<h3>Vaši učitelé</h3>
		<ol>
			<li n:foreach="$user->entity->getCoaches() as $coach">{$coach->name} <a n:href="removeCoach!, $coach->id">&times;</a></li>
		</ol>
	</div>

</article>
