<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{$mail->subject}</title>
</head>
<body>
    <p>Dobrý den,</p>
    <p><a href="{$link}">{$link}</a></p>
</body>
</html>
