<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{$mail->subject}</title>
</head>
<body>
	<p>Dobrý den,</p>
	<p>na stránce pod následujícím odkazem si můžeme nastavit nové heslo:<br><a href="{$link}">{$link}</a></p>
	<p>Pokud jste si změnu hesla nevyžádali, tento email můžete ignorovat nebo nás kontaktujte.</p>
	<img src="http://staging.khanovaskola.cz/" alt="Khanova škola">
</body>
</html>
