.blog
	h2
		margin-bottom 0
		float left
.blog-detail
	.holder
		margin auto
		margin-top 32px
	h2
		margin 0
		padding 0
		float left
	p
		padding-top 1.5ex
		&:last-of-type
			font-style italic
	img
		display block
		width 640px
		margin 2ex 0

.blog div p, .blog-detail div p
	margin-top 0
	text-align justify

.blog-time
	float right
.blog-edit
	margin-left 1em
.blog-form
	float left
	width 50%
.blog-help
	float right
	width 28%
	margin-top 4ex
	.code
		background-color #f2f2f2
		padding 1ex
.blog-strip
	width 640px
	margin auto
	margin-bottom 2em
.articles, .blog-detail
	width 640px
	margin auto
