.categories
	.tree
		display inline-block
		ul
			display inline-block
			width auto
			vertical-align top
			list-style none
			border-left 1px solid $lightBlue
			line-height 130%

			li
				margin 0 1em 0 .5em
			li.selected
				background-color $lightBlue
				margin 0
				padding 0 1em 0 .5em
				a
					color white
			ul
				text-align left
.entities
	display inline-block
	vertical-align top
	height 100%
	width 250px - 1px - 20px
	margin-right 20px
	border-left 1px solid $lightBlue
	ol
		list-style none
	.parents
		a
			color white
		li:nth-of-type(1)
			background-color $blue
		li:nth-of-type(2)
			background-color $blue + #333
		li:nth-of-type(3)
			background-color $blue + 2*#333
		li:nth-of-type(4)
			background-color $blue + 3*#333
