.categories
	.tree
		display inline-block
		ul
			display inline-block
			width auto
			vertical-align top
			list-style none
			border-left 1px solid $lightBlue
			line-height 130%

			li
				padding 1ex 1em 1ex .5em
			li.selected
				background-color $lightBlue
				a
					color white
			ul
				text-align left

			.content-count
				color $lightBlue

.entities
	display inline-block
	vertical-align top
	height 100%
	width 250px - 1px - 20px
	margin-right 20px
	border-left 1px solid $lightBlue
	border-right 1px solid $lightBlue
	ol
		list-style none
		&.path
			font-size 11pt
			li
				background-color $gray
				border-bottom 1px solid $darkGray
				&:hover
					background-color white
				.path-route
					display block
					position absolute
					margin-left 14px
					width 7px
					height 75px
					background-color $darkGray
					z-index 1
				&:first-of-type .path-route
					margin-top 20px
					height 40px
				&:last-of-type .path-route
					height 20px
				&:first-of-type:last-of-type .path-route
					height 0
				a
					display block
					padding 1ex 1em .5ex 34px
					&:hover
						text-decoration none
				i
					display inline-block
					position relative
					z-index 2
					font-size 14pt
					width $size = 28px
					$offset = 5px
					height $size - $offset
					padding-top $offset
					border-radius($size / 2)
					margin-left -30px
					background-color $darkGray
					color $blue

	.parents
		a, span
			color white
			display block
			padding 1ex 1em
		li:nth-of-type(1)
			background-color $blue
		li:nth-of-type(2)
			background-color $blue + #333
		li:nth-of-type(3)
			background-color $blue + 2*#333
		li:nth-of-type(4)
			background-color $blue + 3*#333
		li:last-of-type
			background-color $gray
			span
				color black
