$bgcolor = #eee

.credentials
	border-radius(5px)
	background-clip(padding-box)
	background-color $bgcolor
	border 1px solid #ccc
	border-bottom 1px solid #aaa
	shadow(0, 1px, 3px, #ccc)
	width 60% - 1em
	margin auto
	padding 1em
	
	&>div
		display inline-block
		vertical-align top

	h3
		margin-bottom 2ex

.providers
	text-align center
	width 270px
	&.inline
		width 100%
		.provider:first-of-type
			margin-right 1em

.provider
	display inline-block
	position relative
	border 1px solid #ccc
	width 200px
	height 78px
	border-bottom-color #aaa
	border-right-color #bbb
	border-radius(5px)
	shadow(2px, 2px, 5px, #ccc)
	cursor pointer
	text-align center
	margin-bottom 1ex

	&:hover
		border-color #aaa
		left 2px
		top 2px
		no-shadow()
	img
		margin-top 5px

.vertical-separator
	display inline-block
	position relative
	width 1px
	height 250px
	margin 0 2em
	border-left 1px solid #ccc
	text-align center
	vertical-align baseline
	span
		position relative
		top 50%
		margin-top -0.5em
		margin-left -1.5em
		background-color $bgcolor
		padding 1ex 0

.horizontal-separator
	height 1px
	margin 2em auto
	width 100%
	border-top 1px solid #ccc
	text-align center
	position relative
	display inline-block
	span
		position relative
		display inline-block
		padding 0 .5em
		top -0.7em
		background-color $bgcolor

.password
	text-align left

	label
		display inline-block
		text-align right
		width 3em
	p
		text-align left
		padding 1ex 0 0 52px

.registration
	label:not(.checkbox)
		display inline-block
		text-align right
		width 3em
	.col1
		text-align right
		padding-top 10px
		img
			padding-right 1em
	.col2 form
		margin-left 2em
		.checkbox-container
			margin 2ex 0
