.team
	h2
		margin 2ex 0
	.team-card
		display inline-block
		vertical-align top
		margin-right 1em
		.card-photo
			vertical-align top
			display inline-block
			img
				height 267px
				border-radius(3px)
		.card-info
			display inline-block
			width 300px
			margin-bottom 4ex
			font-size 11pt
