<!DOCTYPE html>
<html lang="cs">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<meta name="description" content="{$description}" n:ifset="$description">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>{ifset $title}{$title} &ndash; {/ifset}Khanova škola</title>

	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/khan.css" type="text/css">
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css" type="text/css">
	<link n:if="$user->loggedIn" rel="stylesheet" media="screen,projection,tv" n:href=":Api:DynamicCss:, v => rand()" type="text/css">

	<link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="{$basePath}/apple-touch-icon.png">
	<link rel="apple-touch-icon-precomposed" href="{$basePath}/apple-touch-icon-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes=”72x72″ href="{$basePath}/apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes=”114x114″ href="{$basePath}/apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes=”144x144″ href="{$basePath}/apple-touch-icon-144x144-precomposed.png">

	{* Facebook open graph *}
	<meta property="og:site_name" content="Khanova škola">
	<meta property="og:image" content="{$baseUrl}/images/apple-touch-icon@2x.png">
	<meta property="og:type" content="website">
	<meta property="og:locale" content="cs">

	<script type="text/javascript" src="{$basePath}/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="{$basePath}/js/jquery-ui-1.8.21.custom.min.js"></script>
	<script type="text/javascript" src="{$basePath}/js/netteForms.js"></script>
	<script type="text/javascript" src="{$basePath}/js/khan.js"></script>
	<script type="text/javascript" src="{$basePath}/js/retina.js"></script>
	{#head}{/#}

	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-33892654-1']);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</head>
<body>
	<script> document.body.className+=' js' </script>
	<div id="outer-wrapper" class="clearfix">
		<div class="notification-bar" style="display:none;"></div>
		<div class="notification-bar-spacer"></div>
		<div id="page-container">
			<div id="page-container-inner">
				<div id="goals-nav-container" style="display: none" class="ui-corner-bottom"></div>
				<header>
					{include '_header.latte'}
					<nav id="page_sub_nav" n:ifset="#breadcrumbs">
						{include #breadcrumbs}
					</nav>
				</header>

				<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
				{include #content}

				<div id="end-of-page-spacer" style="height: 38px;">&nbsp;</div>

			</div>
		</div>
	</div>
	<div class="push"></div>

	<footer id="footer" class="short">
		<div id="leaves">
			<div class="inner">
				<div id="copyright" class="tiny">
					<small>
						&copy; Khan Academy&reg; {date('Y')}, czech version &copy; Mikuláš Dítě {date('Y')}
						| {$git_deploy->branch}&ndash;{$git_deploy->hash}
					</small>
					<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/cz/" class="creative-commons">
						<img src="{$basePath}/images/creative_commons.png">
					</a>
				</div>
				<span class="footer-links">
					<a n:href=":Front:Contact:">Kontakt</a>
					<a n:href=":Front:Contact:report, url => $presenter->url, time => time()" rel="nofollow">Nahlásit problém</a>
					<a n:href=":Front:About:" id="faq-link">O škole</a>
					<a n:href=":Front:Contact:tos" title="Podmínky použití">Podmínky použití</a>
					<a href="http://docs.khanovaskola.apiary.io">Api</a>
					<span class="sep">|</span>
					<a n:href=":Tablet:Homepage:" title="Mobilní verze webu">Verze pro tablety</a>
					<span class="sep">|</span>

					<span class="small-social-links">
						<a class="google-analytics-link-track" onclick="_gaq.push(['_trackEvent', 'Click', 'Youtube-Subscribe-Header']);" href="http://www.youtube.com/khanacademyczech" title="Youtube">
							<img src="{$basePath}/images/services/youtube.png">
						</a>
						<a class="google-analytics-link-track" onclick="_gaq.push(['_trackEvent', 'Click', 'Twitter-Follow-Header']);" href="http://twitter.com/khanacademycz" title="Twitter">
							<img src="{$basePath}/images/services/twitter.png">
						</a>
						<a class="google-analytics-link-track" onclick="_gaq.push(['_trackEvent', 'Click', 'Facebook-Join-Header']);" href="http://www.facebook.com/khanacademycz" title="Facebook">
							<img src="{$basePath}/images/services/facebook.png">
						</a>
					</span>
				</span>
				<div class="tiny legal">
					<small>
						<span class="ipad-hide">Khan Academy CZ is a community of passionate volunteers committed to translating Khan Academy content and providing universal access to quality education.</span> Khanova Škola je dobrovolná komunitní práce nezávislá na Khan Academy.
					</small>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>
