<!DOCTYPE html>
<html lang="cs"{ifset $data_require} data-require={$data_require}{/ifset}>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width">

	{snippet title}<title>{ifset $title}{$title} &ndash; {/ifset}Khanova škola</title>{/snippet}

	<meta name="description" content="{$description}" n:ifset="$description">
	<meta name="robots" content="{$robots}" n:ifset="$robots">
	<link rel="alternate" type="application/rss+xml" title="Khanova škola - Blog" n:href="//:Front:Blog:rss">

	<link rel="stylesheet" media="screen,projection,tv" href="{$cdnUrl}/css/compiled/screen.v-{=md5_file(WWW_DIR . '/css/compiled/screen.css')}.css" type="text/css">
	<link n:if="$user->loggedIn" rel="stylesheet" media="screen,projection,tv" n:href=":Front:DynamicCss:, v => $dynamic_css_hash" type="text/css">

	<link rel="shortcut icon" href="{$cdnUrl}/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="{$cdnUrl}/images/apple/apple-touch-icon-57.png"> {* fallback for iPad Chrome *}
	<link rel="apple-touch-icon-precomposed" href="{$cdnUrl}/images/apple/apple-touch-icon-57.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{$cdnUrl}/images/apple/apple-touch-icon-72.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{$cdnUrl}/images/apple/apple-touch-icon-114.png">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{$cdnUrl}/images/apple/apple-touch-icon-144.png">

	<link rel="search" type="application/opensearchdescription+xml" n:href="//:Static:opensearch" title="Khanova škola">

	<link rel="canonical" n:href="//this, autoplay => NULL, ref => NULL">

	{* Facebook open graph *}
	<meta property="og:site_name" content="Khanova škola">
	<meta property="og:url" content="{link //this, autoplay => NULL}">
	<meta property="og:title" content="{ifset $title}{$title} &ndash; {/ifset}Khanova škola">
	<meta property="og:description" content="{$description}" n:ifset="$description">
	<meta property="og:image" content="{$baseUrl}/images/hand-tree-opengraph-256.png">
	<meta property="og:type" content="website">
	<meta property="og:locale" content="cs_CZ">
	<meta property="fb:app_id" content="273608052753035">

	{* Windows 8 Pin *}
	<meta name="application-name" content="Khanova škola">
	<meta name="msapplication-tooltip" content="Naučná videa zdarma.">
	<meta name="msapplication-navbutton-color" content="#9db63b">
	<meta name="msapplication-starturl" content="/">
	<meta name="msapplication-task" content="name=Knihovna; action-uri=/knihovna; icon-uri={$cdnUrl}/favicon.ico">
	<meta name="msapplication-task" content="name=Cvičení; action-uri=/cviceni; icon-uri={$cdnUrl}/favicon.ico">
	<meta name="msapplication-TileColor" content="#9db63b">
	<meta name="msapplication-TileImage" content="{$cdnUrl}/images/apple/apple-touch-icon-144.png">
	{#head}{/#}

	<script>
		var onLoadQueue = [];
		var onLoadQueuePersistent = [];
		/** error logging */
		var errorSent = false;
		window.onerror = function(errorMessage, url, line) {
			if (errorSent) {
				return false;
			}
			errorSent = true;
			var parameters = "?description=" + escape(errorMessage)
				+ "&url=" + escape(url)
				+ "&line=" + escape(line)
				+ "&parent_url=" + escape(document.location.href)
				+ "&user_agent=" + escape(navigator.userAgent)
				+ "&user_id={$user->id}";
			/** Send error to server */
			new Image().src = "/jsLogger/" + parameters;
		};
	</script>
</head>
<body>
	<header>
		{include _header.latte}
	</header>

	<div n:snippet="content" class="content container">
		{ifset #navigation}{include #navigation}{/ifset}
		<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
		{include #content}
	</div>

	<footer>
		<div class="container">
			<div class="col1">
				<ul>
					<li><a n:href=":Front:Contact:">Kontakt</a></li>
					<li><a n:href=":Front:Contact:report, url => $presenter->url, time => time()" rel="nofollow">Nahlásit problém</a></li>
				</ul>
				<ul>
					<li><a n:href=":Front:Contact:tos" title="Podmínky použití">Podmínky použití</a></li>
					<li><a n:href="//:Front:Blog:rss" title="Blog Khanovy školy">RSS feed</a></li>
					<li><a n:href=":Front:About:press" title="Materiály pro tisk">Pro média</a></li>
				</ul>
				<ul>
					<li><a n:href=":Front:About:" id="faq-link">O škole</a></li>
				</ul>
				<ul>
					<li>Sociální sítě</li>
					<li>
						<a class="no-ajax" onclick="_gaq.push(['_trackEvent', 'Click', 'Youtube-Subscribe-Header']);" href="http://www.youtube.com/khanacademyczech" title="Youtube" target="_blank">
							<img src="{$cdnUrl}/images/icon_youtube.svg" height="24" alt="Náš youtube kanál, na který nahráváme všechna dabovaná videa">
						</a>
						<a class="no-ajax" onclick="_gaq.push(['_trackEvent', 'Click', 'Gplus-Follow-Header']);" href="https://plus.google.com/117423506408066949300/posts" title="Google Plus" target="_blank">
							<img src="{$cdnUrl}/images/icon_gplus.svg" height="24" alt="Google Plus stránka Khanovy školy">
						</a>
						<a class="no-ajax" onclick="_gaq.push(['_trackEvent', 'Click', 'Facebook-Join-Header']);" href="http://www.facebook.com/khanovaskola" title="Facebook" target="_blank">
							<img src="{$cdnUrl}/images/icon_facebook.svg" height="24" alt="Facebook stránka Khanovy školy">
						</a>
						<a class="no-ajax" onclick="_gaq.push(['_trackEvent', 'Click', 'Twitter-Follow-Header']);" href="https://twitter.com/khanovaskola" title="Twitter" target="_blank">
							<img src="{$cdnUrl}/images/icon_twitter.svg" height="24" alt="Twitter účet Khanovy školy obsahující nejdůležitější novinky">
						</a>
					</li>
				</ul>
			</div>
			<div class="col2">
				<ul itemprop="version">
					<li>{$git_deploy->branch}: {$git_deploy->hash}</li>
					<li>{$git_deploy->time|date:'Y-n-j H:i'}</li>
				</ul>
				<div class="legal">
					<a class="no-ajax" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/cz/">
						<img src="{$cdnUrl}/images/creative_commons.svg" height="15" alt="Uveďte autora-Nevyužívejte dílo komerčně-Zachovejte licenci 3.0 Česko (CC BY-NC-SA 3.0 CZ)">
					</a>
					<div>&copy; <span itemprop="copyrightHolder">Mikuláš Dítě</span> <span itemprop="copyrightYear">{date('Y')}</span></div>
					<div>&copy; <span itemprop="copyrightHolder">Khan Academy</span>&reg; (original resources) <span itemprop="copyrightYear">{date('Y')}</span></div>
					<div>Khan Academy CZ is a community of passionate volunteers committed to translating Khan Academy content and providing universal access to quality education.</div>
					<div>Khanova Škola je dobrovolná komunitní práce nezávislá na Khan Academy.</div>
				</div>
			</div>
			<div class="col3">
				<img class="logo" src="{$cdnUrl}/images/footer_logo.svg" width="100px">
			</div>
		</div>
	</footer>

	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-33892654-1']);
		_gaq.push(['_trackPageview']);
		_gaq.push(['_setCustomVar', 1, 'Logged in', {$user->loggedIn ? 'Yes' : 'No'}, 2]);
		_gaq.push(['_setCustomVar', 1, 'Device pixel ratio', ""+window.devicePixelRatio, 1]);
		{if $user->loggedIn}_gaq.push(['_setCustomVar', 1, 'User ID', '{$user->id}', 1]);{/if}
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
	<script type="text/javascript">
		WebFontConfig = { fontdeck: { id: '31422' } };
		(function() {
			var wf = document.createElement('script');
			wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
			'://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
			wf.type = 'text/javascript';
			wf.async = 'true';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(wf, s);
		})();
	</script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{$cdnUrl}/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
	<script>window.jQuery.ui || document.write('<script src="{$cdnUrl}/js/vendor/jquery-ui-1.10.2.min.js"><\/script>')</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.1.1/jquery-migrate.min.js"></script>
	<script src="{$cdnUrl}/js/jquery.menu-aim.js"></script>
	<script type="text/javascript" src="{$cdnUrl}/js/netteForms.js"></script>
	<script type="text/javascript" src="{$cdnUrl}/js/nette.ajax.js"></script>
	<script type="text/javascript" src="{$cdnUrl}/js/history.ajax.js"></script>
	<script type="text/javascript" src="{$cdnUrl}/js/khan.v-{=md5_file(WWW_DIR . '/js/khan.js')}.js"></script>

	{* video scripts *}
		<script>
			var youtubeReady = false;
			function onYouTubeIframeAPIReady() {
				youtubeReady = true;
				if (typeof video_id === "undefined")
					return false;

				showVideo();
			}
			function showVideo() {
				var height = 480;
				var width = 800;

				player = new YT.Player('player', {
					height: height,
					width: width,
					playerVars: {
						autoplay: youtube_autoplay,
						showinfo: 0
					},
					videoId: youtube_video_id,
					events: {
						'onStateChange': onPlayerStateChange
					}
				});
			}

			var player = null;
			var ticker = null;

			var tag = document.createElement('script');
			tag.src = "https://www.youtube.com/iframe_api";
			var firstScriptTag = document.getElementsByTagName('script')[0];
			firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

			var done = false;
			var onPlayerStateChangeCallbacks = [];
			function onPlayerStateChange(event) {
				for (i = 0; i < onPlayerStateChangeCallbacks.length; ++i) {
					onPlayerStateChangeCallbacks[i](event.data);
				}
			}

			onPlayerStateChangeCallbacks.push(fireGAEvent);
			function fireGAEvent(code) {
				if (code == 0) {
					_gaq.push(['_trackEvent', 'Video', 'Video-Watched', video_id]);
				}
			}

			onPlayerStateChangeCallbacks.push(saveState);
			function saveState(code) {
				if (code == 1) {
					ticker = setInterval(function() {
						updateProgress(player.getCurrentTime());
					}, 10000);
				} else {
					clearInterval(ticker);
				}

				if (code == 0) { // save only if video ended
					updateProgress(-1);
				}
			}

			function updateProgress(progress) {
				if (typeof youtube_progress_url === 'undefined') {
					return false;
				}

				$.ajax(youtube_progress_url, {
					data: { seconds: progress},
					success: function(response) {
						if (response.status !== 'success') {
							console.error("Error while saving progress: ", response);
						}
					}
				});
			}
		</script>
		<script type="text/javascript" src="{$cdnUrl}/js/subtitles.js"></script>
	{* end video scripts *}

	{#scripts}{/#}
	{snippet scripts}
		{#scripts-ajax}{/#}
	{/snippet}
</body>
</html>
