<!DOCTYPE html>
<html lang="cs"{ifset $data_require}data-require={$data_require}{/ifset} xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<title>{ifset $title}{$title} &ndash; {/ifset}Khanova škola</title>

	<meta name="description" content="{$description}" n:ifset="$description">
	<meta name="robots" content="{$robots}" n:ifset="$robots">
	<link rel="alternate" type="application/rss+xml" title="Khanova škola - Blog" n:href="//:Front:Blog:rss">

	<link rel="stylesheet" media="screen,projection,tv" href="{$cdnUrl}/css/khan.v-{=md5_file(WWW_DIR . '/css/khan.css')}.css" type="text/css">
	<link rel="stylesheet" media="screen,projection,tv" href="{$cdnUrl}/css/screen.v-{=md5_file(WWW_DIR . '/css/screen.css')}.css" type="text/css">
	<link n:if="$user->loggedIn" rel="stylesheet" media="screen,projection,tv" n:href=":Front:DynamicCss:, v => $dynamic_css_hash" type="text/css">

	<link rel="shortcut icon" href="{$cdnUrl}/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="{$cdnUrl}/images/apple/apple-touch-icon-57.png"> {* fallback for iPad Chrome *}
	<link rel="apple-touch-icon-precomposed" href="{$cdnUrl}/images/apple/apple-touch-icon-57.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{$cdnUrl}/images/apple/apple-touch-icon-72.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{$cdnUrl}/images/apple/apple-touch-icon-114.png">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{$cdnUrl}/images/apple/apple-touch-icon-144.png">

	<link rel="search" type="application/opensearchdescription+xml" n:href="//:Static:opensearch" title="Khanova škola">

	<link rel="canonical" n:href="//this, autoplay => NULL">

	{* Facebook open graph *}
	<meta property="og:site_name" content="Khanova škola">
	<meta property="og:url" content="{//this, autoplay => NULL}">
	<meta property="og:title" content="{ifset $title}{$title} &ndash; {/ifset}Khanova škola">
	<meta property="og:description" content="{$description}" n:ifset="$description">
	<meta property="og:image" content="{$baseUrl}/images/hand-tree-opengraph-256.png">
	<meta property="og:type" content="website">
	<meta property="og:locale" content="cs_CZ">
	<meta property="fb:app_id" content="273608052753035">

	{* Windows 8 Pin *}
	<meta name="application-name" content="Khanova škola">
	<meta name="msapplication-tooltip" content="Naučná videa zdarma.">
	<meta name="msapplication-navbutton-color" content="#9db63b">
	<meta name="msapplication-starturl" content="/">
	<meta name="msapplication-task" content="name=Knihovna; action-uri=/knihovna; icon-uri={$cdnUrl}/favicon.ico">
	<meta name="msapplication-task" content="name=Cvičení; action-uri=/cviceni; icon-uri={$cdnUrl}/favicon.ico">
	<meta name="msapplication-TileColor" content="#9db63b">
	<meta name="msapplication-TileImage" content="{$cdnUrl}/images/apple/apple-touch-icon-144.png">
	{#head}{/#}

	<script>
		/** error logging */
		window.onerror = function(errorMessage, url, line) {
			var parameters = "?description=" + escape(errorMessage)
					+ "&url=" + escape(url)
					+ "&line=" + escape(line)
					+ "&parent_url=" + escape(document.location.href)
					+ "&user_agent=" + escape(navigator.userAgent)
					+ "&user_id={$user->id}";
			/** Send error to server */
			new Image().src = "/jsLogger/" + parameters;
		};
	</script>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-33892654-1']);
		_gaq.push(['_trackPageview']);
		_gaq.push(['_setCustomVar', 1, 'Logged in', {$user->loggedIn ? 'Yes' : 'No'}, 2]);
		_gaq.push(['_setCustomVar', 1, 'Device pixel ratio', ""+window.devicePixelRatio, 1]);
		{if $user->loggedIn}_gaq.push(['_setCustomVar', 1, 'User ID', '{$user->id}', 1]);{/if}
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</head>
<body>
	<script> document.body.className+=' js' </script>
	<div id="outer-wrapper" class="clearfix">
		<div class="notification-bar" style="display:none;"></div>
		<div class="notification-bar-spacer"></div>
		<div id="page-container">
			<div id="page-container-inner">
				<div id="goals-nav-container" style="display: none" class="ui-corner-bottom"></div>
				<header>
					{include '_header.latte'}
					<nav id="page_sub_nav" n:ifset="#breadcrumbs">
						{include #breadcrumbs}
					</nav>
				</header>

				<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
				{include #content}

				<div id="end-of-page-spacer" style="height: 38px;">&nbsp;</div>
			</div>
		</div>
	</div>
	<div class="push"></div>

	<footer id="footer" class="short" itemscope="" itemtype="http://schema.org/WPFooter">
		<div id="leaves">
			<div class="inner">
				<div id="copyright" class="tiny">
					<small>
						&copy; <span itemprop="copyrightHolder">Khan Academy</span>&reg; <span itemprop="copyrightYear">{date('Y')}</span>,
						czech version &copy; <span itemprop="copyrightHolder">Mikuláš Dítě</span> <span itemprop="copyrightYear">{date('Y')}</span>
						| <span itemprop="version">{$git_deploy->branch}&ndash;{$git_deploy->hash}</span>
					</small>
					<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/cz/" class="creative-commons">
						<img src="{$cdnUrl}/images/creative_commons.svg" height="15" alt="Uveďte autora-Nevyužívejte dílo komerčně-Zachovejte licenci 3.0 Česko (CC BY-NC-SA 3.0 CZ)">
					</a>
				</div>
				<span class="footer-links">
					<a n:href=":Front:Contact:">Kontakt</a>
					<a n:href=":Front:Contact:report, url => $presenter->url, time => time()" rel="nofollow">Nahlásit problém</a>
					<a n:href=":Front:About:" id="faq-link">O škole</a>
					<a n:href=":Front:Contact:tos" title="Podmínky použití">Podmínky použití</a>
					<span class="sep">|</span>
					<a n:href="//:Front:Blog:rss" title="Blog Khanovy školy">RSS feed</a>
					<span class="sep">|</span>
					<a n:href="//:Front:About:press" title="Materiály pro tisk">Pro tisk</a>

					<span class="small-social-links">
						<a class="google-analytics-link-track" onclick="_gaq.push(['_trackEvent', 'Click', 'Youtube-Subscribe-Header']);" href="http://www.youtube.com/khanacademyczech" title="Youtube">
							<img src="{$cdnUrl}/images/icon_youtube.svg" height="24" alt="Náš youtube kanál, na který nahráváme všechna dabovaná videa">
						</a>
						<a class="google-analytics-link-track" onclick="_gaq.push(['_trackEvent', 'Click', 'Twitter-Follow-Header']);" href="http://twitter.com/khanovaskola" title="Twitter">
							<img src="{$cdnUrl}/images/icon_twitter.svg" height="24" alt="Twitter účet Khanovy školy obsahující nejdůležitější novinky">
						</a>
						<a class="google-analytics-link-track" onclick="_gaq.push(['_trackEvent', 'Click', 'Facebook-Join-Header']);" href="http://www.facebook.com/khanovaskola" title="Facebook">
							<img src="{$cdnUrl}/images/icon_facebook.svg" height="24" alt="Facebook stránka Khanovy školy">
						</a>
					</span>
				</span>
				<div class="tiny legal">
					<small>
						<span class="ipad-hide">Khan Academy CZ is a community of passionate volunteers committed to translating Khan Academy content and providing universal access to quality education.</span> Khanova Škola je dobrovolná komunitní práce nezávislá na Khan Academy.
					</small>
				</div>
			</div>
		</div>
	</footer>

	<script type="text/javascript" src="{$cdnUrl}/js/jquery-1.9.0.min.js"></script>
	<script type="text/javascript" src="{$cdnUrl}/js/jquery-ui-1.10.0.custom.min.js"></script>
	<script type="text/javascript" src="{$cdnUrl}/js/netteForms.js"></script>
	<script type="text/javascript" src="{$cdnUrl}/js/khan.v-{=md5_file(WWW_DIR . '/js/khan.js')}.js"></script>
	{#scripts}{/#}
</body>
</html>
