<div id="top-header">
	<div class="top-header-links">
		<span class="page_links" id="page_auth">
			<span id="goals-container"></span>
			<span id="user-info" class="badge-target">
				{cache $user->id, tags => ['user/login']}
					<span n:if="$user->loggedIn" id="user-info" class="badge-target">
						<span class="dropdown">
							<span class="username_and_notification dropdown-toggle">
								<a n:tag-if="!$presenter->mobile" href="{if $user->moderator}{plink :Moderator:Dashboard:}{else}{plink :Front:Profile:}{/if}">
									<img class="user-avatar" src="{$baseUrl}/images/avatars/leaf-{if $user->admin}red{elseif $user->moderator}blue{else}green{/if}.png">
									<span class="user-name">
										{=trim($user->entity->name) ?: $user->entity->mail}
									</span>
									<span class="caret"></span>
								</a>
							</span>
							<ul class="dropdown-menu no-submenus">
								<li n:if="$user->moderator"><a class="dropdown-link" n:href=":Moderator:Dashboard:">Moderátoři</a></li>
								<li><a class="dropdown-link" n:href=":Front:Profile:, pid => NULL">Profil</a></li>
								<li><a class="dropdown-link" n:href=":Front:Profile:addCoach">Přidat učitele</a></li>
								<li><a n:href=":Sign:out">Odhlásit se</a></li>
							</ul>
						</span>
					</span>
				{/cache}
			</span>
			{if !$user->loggedIn}
				<span class="separator"></span>
				<span><a n:href=":Sign:in">Přihlášení</a></span>
				<span class="separator"></span>
				<span><a n:href=":Front:Registration:">Registrace</a></span>
			{/if}
			{if $presenter->mobile === 'ipad'}
				<span id="search-box" class="search-ipad">
					{form search, class => "page-search"}
						{input query, class => "ui-corner-all simple-input search-input blur-on-esc", placeholder => "Vyhledávání"}
						{input send, class => "search-submit"}
					{/form}
				</span>
			{/if}
		</span>
		<div class="clear"></div>
		<div id="nav-and-search">
			{cache tags => ['categories']}
				<div class="sitewide-navigation">
					<nav>
						<span class="links nav-subheader">
							<span class="dropdown topic-browser-dropdown">
								<a n:href=":Front:Homepage:#browse" class="watch-link dropdown-toggle">Sledovat <span class="caret"></span></a>
								<a n:href=":Front:Exercise:, eid => NULL" class=" practice-link">Cvičení</a>
								{if $user->loggedIn}
									<a n:href=":Coach:Dashboard:" class=" coach-link">Učit</a>
								{else}
									<a n:href=":Front:About:coach" class=" coach-link">Učit</a>
								{/if}
								<a n:href=":Front:Volunteer:" class=" contribute-link">Dobrovolníci</a>
								<a n:href=":Front:About:" class=" about-link">O Škole</a>
								<div style="clear: both"></div>
								{include _dropdown.latte}
							</span>
						</span>
					</nav>
				</div>
			{/cache}
			{if $presenter->mobile !== 'ipad'}
				<span id="search-box" class="search-other">
					{form search, class => "page-search"}
						{input query, class => "ui-corner-all simple-input search-input blur-on-esc", placeholder => "Vyhledávání"}
						{input send, class => "search-submit"}
					{/form}
				</span>
			{/if}
		</div>
	</div>
	<div id="logo">
		<a id="logo-image" href="/" title="Zpět na titulku!">
			<img src="{$basePath}/images/header.png">
		</a>
	</div>
	<div class="clear"></div>
</div>
