footer
	display block
	margin-top 10ex
	background-color $gray
	border-top 1px solid $darkGray
	color rgb(44, 55, 71)

	.col1, .col2, .col3
		display inline-block
		margin 0
		padding 0
		vertical-align top
		> ul
			display inline-block
			width 25% - 1px
			height 100%
			vertical-align top
			li
				list-style-type none
				margin 1ex 0
	.col1
		width 50% - 1px
		margin-top 26px

	.col2
		width 40%
		margin-top 26px
		text-align right
		ul
			width 100%
	.col3
		width 10%
		text-align right

	.logo
		margin 20px 0 40px 0

	.legal
		color rgb(153, 153, 153)
		text-align right
		font-size 12px
		margin-top 2ex
