body
	font-family "Museo Sans 300", Arial, "Helvetica Neue", Helvetica, sans-serif
	font-weight 300
	font-style normal
	text-rendering optimizeLegibility
a:not(.button)
	text-decoration none
	color $link
	&:visited, &:link, &:visited
		color $link
	&:hover
		color $green
		text-decoration underline
.float-left
	float left
.float-right
	float right
.clear
	clear both
.icon-dubbed
	color rgb(72, 113, 201)
.error
	color red
	margin-bottom 1ex
ul.error
	list-style none
p
	line-height 2.7ex
	a:not(.button)
		color $link
		text-decoration none
		&:visited, &:link, &:visited
			color $link
		&:hover
			color $green
			text-decoration underline

h1
	font-size 16pt
	margin-bottom 1ex

h3
	font-size 14pt

h4
	font-size 12pt
input[type=text], input[type=email], input[type=password]
	background-color #fafafa
	border 1px solid #c6d1ad
	font-size 10pt
	padding 0 0 0 .5em
	margin-bottom .5ex
	height 24px
	width 160px
	outline(0px, 0px, $green)
	border-radius(4px)
cite
	color $lightBlue
