body
	font-family "Museo Sans 300", Arial, "Helvetica Neue", Helvetica, sans-serif
	font-weight 300
	font-style normal
	text-rendering optimizeLegibility

a
	text-decoration none
	&:visited, &:link, &:visited
		color inherit

.float-left
	float left

.float-right
	float right

.clear
	clear both

.icon-dubbed
	color rgb(72, 113, 201)

h1
	font-size 16pt
h4
	font-size 12pt
