$marginBottom = 3ex
header
	display block
	height $headerHeight = 45px
	width 100%
	background-color $blue
	margin-bottom $marginBottom

	a:not(.button)
		color white
		&:visited, &:link, &:visited
			text-decoration none
			color inherit

	.logo
		position absolute
		padding-top 3px
		margin-left -108px
		left 50%

		#spinner
			display inline-block
			position relative
			top -9px
			left 10px
			height $size = 24px
			width $size
			color white

			&.hidden
				display none
			.icon-spinner
				margin-left -1 * $size * 0.2
				font-size $size
				transform-origin($size/2, $size/2)


	ul
		display inline-block
		height $headerHeight

	li
		color white
		display inline-block
		height $headerHeight
		
		&:hover, &.hover
			background-color white
			color $blue
		a
			display block
			$offset = 15px
			padding $offset .5em 0 .5em
			height $headerHeight - $offset

	ul.dropdown
		display none
		position absolute
		z-index 100
		top $headerHeight
		width $dropdownWidth = 176px
		height auto
		margin-left -1px
		border 1px solid $blue
		border-top 0px
		font-size 14px
		background-color white
		&.open
			display block
		li
			display block
			color $blue
			height auto
			&.has-divider
				border-top 1px solid $lightBlue
			&:hover
				color white
				background-color $lightBlue
			&.hover
				color white
				background-color $blue
				ul
					display block
			a
				display block
				width 100%
				height auto
				padding 1.4ex 0 1ex 1em

			ul
				display none
				position absolute
				top -1px
				left $dropdownWidth
				width $subDropdownWidth = 450px
				height 100%
				border 1px solid $blue
				background-color white
				$gap = 10px
				multi-column(2, $gap, ($subDropdownWidth - $gap) / 2)
				li
					margin 4px 1em

nav.subnav
	border-bottom 1px solid $lightBlue
	margin-top -1*$marginBottom
	margin-bottom $marginBottom
	li
		display inline-block
		line-height 35px
		a
			padding 1ex .5em
			&:link, &:visited, &:active
				color $blue
			&:hover, &.selected
				text-decoration none
				border-bottom 2px solid $lightBlue
			&:hover
				background-color $gray
