/* nette */
#ajax-spinner {margin: 15px 0 0 15px; padding: 13px; background: white url('../images/spinner.gif') no-repeat 50% 50%; font-size: 0; z-index: 123456; display: none;}
div.flash {color: black; background: #FFF9D7; border: 1px solid #E2C822; padding: 1em; margin: 1em 0;}
a[href^="error:"] {background: red; color: white;}

/* for homepage library */
#library-content .library-content-list a {width: 30%; height: 18.0px;}
.m0 {margin-left: 0%;}
.m1 {margin-left: 33%;}
.m2 {margin-left: 66%;}

/* generic */
footer .legal {float: right; margin-right: 10px;}
.sortable-arrow {font-size: 120%; font-weight: bold; background-color: rgba(120, 160, 240, .5); padding: .1em .5em .2em .5em; border-radius: .3em; color: black;}
.featured_video {display: block; max-width: 694px; height: 395px; background-color: black; background-repeat: no-repeat; background-position: center center;}
.youtube_play {display: block; position: relative; top: 161px; background: url('/images/youtube_play.png'); width: 107px; height: 73px; opacity: .6; margin-left: auto; margin-right: auto;}
a:hover .youtube_play {opacity: 1;}
.featured_header {display: block; position: absolute; width: 100%; top: 0; left: 0; font-size: 16pt; color: white; background-color: rgba(0, 0, 0, .6); height: 25pt;}
.featured_header .label {padding: 8pt; top: 5pt; position: relative;}
a:hover .featured_header .label {text-decoration: underline;}
.wrap-columns {column-count:3; -moz-column-count:3; -webkit-column-count:3; column-gap:2em; -moz-column-gap:2em; -webkit-column-gap:2em;}
.wrap-columns .link-wrap {display: block; width: 200pt !important;}
.creative-commons {vertical-align: sub;}

/* ----  iPad 3 ---- */
.ipad-only {display: none;}
@media only screen and (max-device-width: 2048px) and (-webkit-min-device-pixel-ratio: 2)
{
	.ipad-only {display: block;}
	.featured_header .label {text-decoration: underline;}
	.youtube_play {opacity: .9;}
	footer .legal-english {display: none;}
}
