$blue = rgb(44, 55, 71)
$lightBlue = $blue + #444
$link = #005987
$green = #678d00
$gray = #f7f7f7
$darkGray = #ddd


@import reset
@import mixins
@import 'fontello/fontello'
@import 'fontello/animation'
@import buttons
@import header
@import footer
@import generic
@import pages
@import dev


.container
	width 1200px
	height 100%
	margin auto

.fifty-fifty
	display inline-block
	vertical-align top
	&.col1, &.col2
		width 50% - 1px

.sixty-forty
	display inline-block
	vertical-align top
	&.col1
		width 60% - 1px
	&.col2
		width 40% - 1px

.forty-sixty
	display inline-block
	vertical-align top
	&.col1
		width 40% - 1px
	&.col2
		width 60% - 1px

.thirty-seventy
	display inline-block
	vertical-align top
	&.col1
		width 30% - 1px
	&.col2
		width 70% - 1px
