/* nette */
#ajax-spinner {margin: 15px 0 0 15px; padding: 13px; background: white url('../images/spinner.gif') no-repeat 50% 50%; font-size: 0; z-index: 123456; display: none;}
div.flash {color: black; background: #FFF9D7; border: 1px solid #E2C822; padding: 1em; margin: 1em 0;}
a[href^="error:"] {background: red; color: white;}


/* for library */
#library-content .library-content-list a {width: 30%; height: 18.0px;}
.m0 {margin-left: 0%;}
.m1 {margin-left: 33%;}
.m2 {margin-left: 66%;}

/*
 * glyphs
 * @see http://fortawesome.github.com/Font-Awesome/#all-icons
 */
@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot');
	src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
	   url('../fonts/fontawesome-webfont.woff') format('woff'),
	   url('../fonts/fontawesome-webfont.ttf') format('truetype'),
	   url('../fonts/fontawesome-webfont.svg#FontAwesome') format('svg');
	font-weight: normal;
	font-style: normal;
}
.icon-dubbed:before {content: "\f028"; color: rgb(72, 113, 201);}
.icon-exercise:before {content: "\f040"; color: rgb(201, 72, 113);}

/* generic */
footer .legal {float: right; margin-right: 10px;}
.sortable-arrow {font-size: 120%; font-weight: bold; background-color: rgba(120, 160, 240, .5); padding: .1em .5em .2em .5em; border-radius: .3em; color: black;}
.featured_video {display: block; max-width: 694px; height: 395px; background-color: black; background-repeat: no-repeat; background-position: center center;}
.youtube_play {display: block; position: relative; top: 161px; background: url('/images/youtube_play.png'); width: 107px; height: 73px; opacity: .6; margin-left: auto; margin-right: auto;}
a:hover .youtube_play {opacity: 1;}
.featured_header {display: block; position: absolute; width: auto; top: 0; left: 0; font-size: 16pt; color: white; background-color: rgba(0, 0, 0, .6); min-height: 25pt;}
.featured_header .label {padding: 8pt; top: 5pt; position: relative;}
a:hover .featured_header .label {text-decoration: underline;}
.wrap-columns {column-count:3; -moz-column-count:3; -webkit-column-count:3; column-gap:2em; -moz-column-gap:2em; -webkit-column-gap:2em;}
.wrap-columns .link-wrap {display: block; width: 260pt !important;}
.creative-commons {vertical-align: sub;}
.breadcrumbs-tags {float: right; font-size: 16px; line-height: 18px; margin-top: 2px;}
.color-error {color: rgb(227, 58, 45);}
code {font-family: "Monaco", "Courier New";}
.github-tag {text-shadow: 1px 1px 0px rgba(0, 0, 0, .3); display: inline-block; width: 5px;}
.video-progress {display: inline-block; width: 1.25em; font-family: "FontAwesome";}
.search-ipad {margin-left: 1em; margin-top: 0; display: inline; float: none !important;}
.search-ipad form {display: inline;}
.search-other input[type="search"] {font-size: large; margin-top: 2px;}
.task.task-completed {text-decoration: line-through; color: gray;}
.video-dubbed .unisubs-videoTab-static {display: none !important;}
.unisubs-videoTab-static .unisubs-tabTextShare {display: none !important;}
#video-container .unisubs-videoTab-container {display: inline !important;}
#cc-notification {margin: 3px 0 0 0; padding: 0; position: relative; left: 1em;}
li p {margin: 0;}
.moderator-congrats {color: green; font-style: italic;}
#blog h2 {margin-bottom: 0; float: left;}
#blog-detail .holder {width: 640px; margin: auto; margin-top: 32px;}
#blog-detail h2 {margin: 0; padding: 0; float: left;}
#blog div p, #blog-detail div p {margin-top: 0; text-align: justify;}
.blog-time {float: right;}
.blog-edit {margin-left: 1em;}
.nav-subheader > span > a {letter-spacing: 0; margin-left: 17px;}
a.subtitles-edit {float: right; font-size: 10pt;}
.verification-time {font-size: 80%; color: gray;}
.breadcrumbs_nav.video-nav, .breadcrumbs_nav.coach-nav {float: left !important; margin-top: 2px;}
.breadcrumbs_nav.coach-nav a, .breadcrumbs_nav.coach-nav .breadcrumb-separator {margin-left: 9px;}
.breadcrumbs_nav.coach-nav a {margin-left: 9px !important;}
.warning-banner {background-color: rgba(211, 87, 4, 1);}

#subtitles {height: 180px; overflow: scroll; padding: 0; padding-left: 1em;}
#subtitles table {width: 100%;}
#subtitles div {padding: 0 0 4px 5px; font-size: 140%; font-family: serif;}
#subtitles .highlight {background-color: rgba(157, 182, 59, 0.3);}
#subtitles div:first-child {margin-top: 60px;}
#subtitles div:last-child {margin-bottom: 140px;}
#subtitles .time {color: rgb(150, 150, 150); font-family: sans-serif; font-size: 80%;}
#subtitles .row {height: 23px;}
#subtitles td.narrow {width: 50px;}
#subtitles-overlay {position: absolute; font-size: 14pt; color: white; padding: 0 200px; width: 400px; text-align: center; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; pointer-events: none;}

.videos-table ol {-webkit-column-count: 2; -webkit-column-gap: 10px; -moz-column-count: 2; -moz-column-gap: 10px; column-count: 2; column-gap: 10px;}
.videos-table .exercise-link {line-height: 30px; margin-left: 0; font-size: 10pt;}

.practice.simple-button {margin-left: 1em;}
#welcome a.call-to-action {font-size: 20px; line-height: 35px; display: inline-block; width: 20%;}

#pin-columns {margin-top: 3ex; -webkit-column-count: 3; -webkit-column-gap: 10px; -webkit-column-fill: auto; -moz-column-count: 3; -moz-column-gap: 10px; -moz-column-fill: auto; column-count: 3; column-gap: 15px; column-fill: auto;}
.pin {width: 340px; display: inline-block; background: #FEFEFE; border: 2px solid #FAFAFA; box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4); margin: 0 2px 15px; -webkit-column-break-inside: avoid; -moz-column-break-inside: avoid; column-break-inside: avoid; padding: 15px; padding-bottom: 5px; background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9); opacity: 1; -webkit-transition: all .2s ease; -moz-transition: all .2s ease; -o-transition: all .2s ease; transition: all .2s ease;}
.pin .role {color: #888; display: block; float: right; -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); -o-transform:rotate(45deg); -ms-transform:rotate(45deg); border-bottom: 1px dashed #AAA; width: 90px; text-align: center; position: relative; left: 36px; top: -3px;}
.pin .role:before {font-family: "FontAwesome"; content: "\f023"; margin-right: 5px;}
.pin.pin-tall {min-height: 725px;}

#backend-form th {text-align: right; padding-right: 1em; vertical-align: top;}
#backend-form textarea, #backend-form input:not([type=submit]):not([type=checkbox]) {width: 300px; margin-bottom: 5pt; height: 16pt;}
#backend-form input[type=checkbox] {font-size: 120%; margin-right: .6em;}
#backend-form textarea {height: 120pt;}
#backend-form input[type=submit] {min-width: 70px; height: 30px; font-size: 120%; margin-top: 1ex;}
#backend-form .chzn-container.chzn-container-single {margin-bottom: 1ex;}
#backend-form select {width: 306px;}
#backend-form legend {font-size: 120%; margin-left: .9em; padding-top: 1ex;}

#frm-articleForm input[type=text] {width: 640px;}
#frm-articleForm textarea {width: 640px; height: 320px;}

.video #description .title-header .long-description {white-space: normal;}

.ui-menu-item a {background-color: white !important; font-size: 12pt !important; padding-left: 26px !important;}
.ui-menu-item a.ui-state-focus {background-color: #f2f2f2 !important;}

.anchor-highlight {background-color: rgba(169,232,250,.3); padding: 0 1em .5ex 1em; margin: 0 -1em -.5ex -1em;}

#search-box {width: 150px; padding: 0;}
#frm-search-query {padding: 0; background-image: none;}

.coach-list {padding-left: 2em;}

#about-us .logo {text-align: center; padding-top: 18px; min-width: 220px; max-width: 220px; margin-right: 2%;}
#about-us .content {max-width:81%; text-align: justify;}
#about-us .sponsors {margin-bottom: 44px;}
#about-us .sponsor {width: 25%; min-width: auto; max-width: auto;}
#about-us .sponsor:nth-of-type(1) {padding-left: 25%;}

#press img {margin-right: 1em}
#press .color {display: inline-block; width: 2em; height: 3ex; margin-right: 1em;}

.bullet-list {list-style: circle; padding-left: 2em;}

img.pull-down {margin-top: 5ex;}

.blog-form {float: left; width: 50%}
.blog-help {float: right; width: 28%; margin-top: 4ex;}
.blog-help .code {background-color: #f2f2f2; padding: 1ex}
.blog-strip {width: 640px; margin: auto; margin-bottom: 2em;}

.articles {width: 640px; margin: auto;}

#injected-related {margin-top: 10px;}

#related-video-list .thumbnail_label {margin-top: 68px;}
#related-video-list .thumbnail_teaser {height: 0px;}

#exercise-list h3 {margin: 10px 0 0 0;}
#exercise-list td.column-progress {padding-right: .5em; text-align: right; width: 3em;}

#topic-page .leaf-container {margin-top: 2ex;}
#topic-page .subtopic-1-heading {display: inline; margin-left: 2em;}
#topic-page .library-content-list {margin-left: 6em;}

#facebook-like {position: relative; top: -10px;}
#facebook-like iframe {border:none; overflow:hidden; width:120px; height:90px;}
#logo-scio {position: relative; top: -101px; left: 65px;}

.profile-recent .time-ago {text-align: right; padding-right: .5em;}

.push-right {padding-left: 2em;}

.providers .provider {margin-left: 12pt;}
.providers .provider:first-of-type {margin-left: 0;}
.providers-rows .provider {margin-left: 0;}
.providers-rows .provider:first-of-type {margin-left: 4px;}

#translation-rules ol {list-style: decimal inside; padding-bottom: 20px;}
#translation-rules ol p {margin-left: 4em;}
#translation-rules ol p:first-of-type {margin-left: 1em; padding-top: 1ex;}
#translation-rules .note {color: gray;}

.topic-info {width: 450px; display: inline-block;}
.topic-actions {float: right; display: inline-block; text-align: right; line-height: 300%;}
.main-header .aliases {margin-top: 2ex;}
.main-header .aliases p {margin: 0;}

hr.wide {width: 100%;}

/* ----  iPad 3 ---- */
.ipad-only {display: none;}
@media only screen and (max-device-width: 2048px) and (-webkit-min-device-pixel-ratio: 2)
{
	.ipad-only {display: block;}
	.featured_header .label {text-decoration: underline;}
	.youtube_play {opacity: .9;}
	.ipad-hide {display: none;}
	footer.short a {padding: 0 2px;}
}

@media only screen and (max-width: 1050px)
{
	#copyright {display: none;}
	#footer .legal {display: none;}
	.hide-small {display: none;}
}

/* Retina-specific stuff here */
img.retina {display: none;}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    img.non-retina {display: none;}
    img.retina {display: inherit;}
}



/* About hte team */
#the-team .section-header {
	padding-top: 18px;
}
#the-team .col1, #the-team .col2 {
	padding-top: 18px;
}

#the-team .general-contact ul {
	margin-bottom: 18px;
}
#the-team .general-contact ul li {
	margin-bottom: 10px;
}
#the-team .team-photo {
	width: 95%;
	display: block;
	margin: 0 auto;
	padding: 9px;
	background: #f7f7f7;
}
#the-team .team-card {
	width: 47%;
	float: left;
	margin-right: 1%;
	padding: 10px 10px 10px 0;
	margin-bottom: 36px;
	min-height: 267px;
	position: relative;
}
#the-team .team-card .card-photo {
	padding: 5px;
	background: #eee;
	width: 200px;

	position: absolute;
	left: 0;
	top: 10px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#the-team .team-card .card-photo img {
	height: 267px;
	display: block;
}
#the-team .team-card .card-info {
	margin-left: 230px;
}
#the-team .team-card .card-info h1 {
	margin-top: 5px;
}
#the-team .team-card .card-info h3 {
	color: #777;
	font-family: Georgia, serif;
	font-style: italic;
}
#the-team .team-card .card-info p {
	font-size: 13px;
}
#the-team .team-card .card-info .contact-links a:hover, .general-contact a:hover {
	text-decoration: underline;
}

#the-team .card-photo img.alternate,
#the-team .card-photo:hover img.normal {
	display: none;
}

#the-team .card-photo img.normal,
#the-team .card-photo:hover img.alternate {
	display: block;
}
#the-team .card-info h2 {display: inline;}
#the-team p.contact-links {display: inline; margin-left: 2em;}
#the-team p.contact-links a:after {content: ", ";}
#the-team p.contact-links a:last-of-type:after {content: "";}

/** Terms of Use */
#tos ol {
	list-style: decimal inside;
	padding-bottom: 20px;
}
#tos ol ol {
	margin-bottom: 0;
}
#tos html>/**/body ol { /* Won't be interpreted by IE6/7. */
	list-style-type: none;
	counter-reset: level1;
}
#tos ol li:before {
	content: counter(level1) ". ";
	counter-increment: level1;
}
#tos ol li ol {
	list-style-type: none;
	counter-reset: level2;
	padding-left: 2em;
}
#tos ol li ol li:before {
	content: counter(level1) "." counter(level2) " ";
	counter-increment: level2;
}
#tos ol li span { /* For IE6/7. */
	margin: 0 5px 0 -25px;
}
#tos li {
	font-size: 14px;
}
