html, body {width: 100%; height: 100%;}

.ui-grid-t {overflow: hidden;}
.ui-grid-t .ui-block-a {width: 34%;}
.ui-grid-t .ui-block-b {width: 66%; padding-left: 16px;}

.video-link .ui-icon-arrow-r {display: none;}
.tablet-player {padding-top: 17px;}
#subtitles {height: 150px; overflow: scroll; padding: 0; padding-left: 1em;}
#subtitles div {margin-bottom: 5px; padding: 4px 0 2px 5px;}
#subtitles .highlight {background-color: rgba(0, 0, 0, .1); border: 1px rgba(0, 0, 0, .2) solid; border-radius: 3px;}

.portrait.video .ui-content {padding: 0;}
.portrait.video .ui-grid-t .ui-block-a {display: none; width: 0;}
.portrait.video .ui-grid-t .ui-block-b {width: 100%; padding: 0;}
.portrait.tablet-player {padding-top: 0;}
.portrait #subtitles {height: 360px;}
