.ui-grid-t {overflow: hidden;}
.ui-grid-t .ui-block-a {width: 34%;}
.ui-grid-t .ui-block-b {width: 66%;}

.video-link .ui-icon-arrow-r {display: none;}
.tablet-player {padding-left: 16px; padding-top: 17px;}
